# EPA GHGRP demo of Data in Data Commons

The purpose of this notebook is to provide a visual representation of the availability and connectivity of some of the data in the Data Commons.  The Data are:
* EPA_GHGRP: Asset-level data (physical plants and operations in the US that emit >= 25 kt CO2e and others covered by GHG Reporting Project)
* GLEIF: Legal Entity Identifiers for parent companies that own assets (and identification of parent companies that don't have LEIs)
* Type of emissions from parent companies: Direct Emitters, LDC Emissions, On-Shore Refining, Gathering and Boosting, Transmission Pipelines, SF6 from Electrical Equipment
* Types of operations by SIC/NAICS codes (Steel, Cement, Electricity Generation, Pulp and Paper Manufacturing, etc)
* Sectors (Manufacturing, Transportation Communications and Utilities, Service Industries, Mining, etc)
* SEC 10-K reports: Revenue Data (can be compared/contrasted with EPA CO2e emissions data)

The data developed in this notebook can be visualized by running the notebook https://github.com/os-climate/data-platform-demo/blob/master/notebooks/Sankey.ipynb

Then visualizing the data in SuperSet here: https://superset-secure-odh-superset.apps.odh-cl2.apps.os-climate.org/superset/explore/

This data is incomplete from a number of perspectives:
* Major non-emitting power plants (hydro electric dams, solar arrays, wind turbines, and nuclear powerplants) may be missing as assets
* There are no metrics for energy generation or consumption, nor for other units of production (such as tons of steel produced)
* All emissions are essentially Scope 1 emissions; there are no Scope 2 attributions for major energy consumers (such as Steel manufacturing)
* There are also no Scope 3 metrics
* The data is exclusively US-based

Despite these shortcomings, this illustration/demonstration shows how additional data can be linked in to provide a more complete picture:
* WRI Power Plant data, providing a global perspective on power plants, including emissions, generation, capacity, fuel type, etc.
* RMI Utility Transition Hub data, providing fine-grained, up-to-date information about US power plants, including emissions targets
* SEC data at Business Segment level (to separate Berkshire Hathaway's \\$65B energy business from their overall \\$265B enterprise, for example)
* SPGI sustainability reports (require NLP analysis to yield quantitative metrics)
* etc.

# Begin with Credentials and Connection to Trino

In [1]:
import os
import pathlib
from dotenv import load_dotenv

# Load some standard environment variables from a dot-env file, if it exists.
# If no such file can be found, does not fail, and so allows these environment vars to
# be populated in some other way
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

Set session variable CATALOG to make query terms much more compact

In [2]:
import trino
from sqlalchemy.engine import create_engine

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ['TRINO_USER'],
    host = os.environ['TRINO_HOST'],
    port = os.environ['TRINO_PORT']
)

ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'sandbox'
epa_table_prefix = 'epa_'
dera_table_prefix = 'dera_'

sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ['TRINO_PASSWD']),
    'http_scheme': 'https',
    'catalog': ingest_catalog,
    'schema': ingest_schema,
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

import pandas as pd
import osc_ingest_trino as osc

In [3]:
cleanup = False

if cleanup:
    qres = engine.execute(f"show tables in {ingest_schema}")
    l = qres.fetchall()

    for schema in [ ingest_schema ]:
        print(schema)
        qres = engine.execute(f'show tables in {schema}')
        l = qres.fetchall()

        for table in l:
            qres = engine.execute(f'drop table {schema}.{table[0]}')
            display(qres.fetchall())

        qres = engine.execute(f'show tables in {schema}')
        display(qres.fetchall())

        qres = engine.execute(f'drop schema {schema}')
        display(qres.fetchall())


    qres = engine.execute('show schemas')
    qres.fetchall()

qres = engine.execute("""
CREATE OR REPLACE VIEW sec_dera.rev
COMMENT 'Revenue facts that match a set of tags'
-- WITH ( partitioning = ARRAY['mktsegment', 'nationkey'] )
-- WITH ( format = 'ORC', partitioning = ARRAY['_date'] )
AS
    SELECT N.value
    FROM sec_dera.num AS N
    WHERE N.tag='Revenues'
     or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
     or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
     or N.tag='RevenuesNetOfInterestExpense'
     or N.tag='RegulatedAndUnregulatedOperatingRevenue'
     or N.tag='RegulatedOperatingRevenuePipelines'
""")
qres.fetchall()

qres = engine.execute("""
DROP VIEW sec_dera.rev
""")
qres.fetchall()

# Introduction to EPA GHG Reporting Program data (EPA_GHGRP)

The EPA's GHG Reporting Program (GHGRP) seems to be a gold standard in terms of creating a bottoms-up list that's good enough to play a major role in tops-down estimates.

qres = engine.execute(f"show tables in epa_ghgrp")
display(qres.fetchall())

`Direct_Emitters` are the lion's share of CO2 _emissions_.  `Suppliers` tracks fuels and products which, when used as intended, will create GHG emissions (by direct emitters or others).

In [4]:
qres = engine.execute(f"describe {epa_table_prefix}direct_emitters")
display(qres.fetchall())

[('facility_id', 'bigint', '', ''),
 ('frs_id', 'varchar', '', ''),
 ('facility_name', 'varchar', '', ''),
 ('city', 'varchar', '', ''),
 ('state', 'varchar', '', ''),
 ('zip_code', 'varchar', '', ''),
 ('address', 'varchar', '', ''),
 ('county', 'varchar', '', ''),
 ('latitude', 'double', '', ''),
 ('longitude', 'double', '', ''),
 ('primary_naics_code', 'varchar', '', ''),
 ('latest_reported_industry_type_subparts', 'varchar', '', ''),
 ('latest_reported_industry_type_sectors', 'varchar', '', ''),
 ('total_reported_emissions', 'double', '', ''),
 ('total_reported_emissions_units', 'varchar', '', ''),
 ('year', 'timestamp(6)', '', '')]

In [5]:
qres = engine.execute(f"""
select format('%tY', year), format('%,.2f', sum(total_reported_emissions)/1000000000) || ' GtCO2e'
from {epa_table_prefix}direct_emitters group by year order by year desc""")
display(qres.fetchall())

[('2020', '2.40 GtCO2e'),
 ('2019', '2.63 GtCO2e'),
 ('2018', '2.78 GtCO2e'),
 ('2017', '2.74 GtCO2e'),
 ('2016', '2.81 GtCO2e'),
 ('2015', '2.94 GtCO2e'),
 ('2014', '3.08 GtCO2e'),
 ('2013', '3.07 GtCO2e'),
 ('2012', '3.06 GtCO2e'),
 ('2011', '3.21 GtCO2e')]

Here's a look at how they stack up (from a Database perspective--we should also look at this in Super Set).

In [6]:
qres = engine.execute(f"""
select count (*), latest_reported_industry_type_sectors,
       format('%,.2f', sum(total_reported_emissions)/1000000) || ' MtCO2e' as MtCO2e
from {epa_table_prefix}direct_emitters
where year>=DATE('2019-01-01') and year<DATE('2020-01-01')
group by latest_reported_industry_type_sectors
order by MtCO2e desc
""")
display(qres.fetchall())

[(4, 'Chemicals,Petroleum Product Suppliers,Refineries,Suppliers of CO2', '8.58 MtCO2e'),
 (1, 'Petroleum Product Suppliers,Power Plants,Refineries', '7.66 MtCO2e'),
 (281, 'Metals', '69.49 MtCO2e'),
 (69, 'Petroleum Product Suppliers,Refineries', '65.08 MtCO2e'),
 (41, 'Chemicals,Petroleum Product Suppliers,Refineries', '64.02 MtCO2e'),
 (1, 'Metals,Minerals', '6.20 MtCO2e'),
 (1, 'Chemicals,Petroleum Product Suppliers,Power Plants,Refineries', '5.92 MtCO2e'),
 (7, 'Refineries', '5.71 MtCO2e'),
 (15, 'Chemicals,Industrial Gas Suppliers', '5.32 MtCO2e'),
 (1, 'Metals,Power Plants', '5.24 MtCO2e'),
 (1, 'Chemicals,Other,Petroleum Product Suppliers,Power Plants,Refineries', '4.98 MtCO2e'),
 (1, 'Chemicals,Refineries,Waste', '4.85 MtCO2e'),
 (1, 'Injection of CO2,Other,Suppliers of CO2,Waste', '4.40 MtCO2e'),
 (1, 'Chemicals,Petroleum Product Suppliers,Refineries,Suppliers of CO2,Waste', '4.36 MtCO2e'),
 (1, 'Chemicals,Other,Petroleum and Natural Gas Systems,Waste', '4.26 MtCO2e'),
 (1, 'Chemicals,Petroleum Product Suppliers,Power Plants,Refineries,Suppliers of CO2', '3.65 MtCO2e'),
 (10, 'Injection of CO2,Petroleum and Natural Gas Systems,Suppliers of CO2', '3.52 MtCO2e'),
 (1, 'Chemicals,Power Plants', '3.31 MtCO2e'),
 (1, 'Chemicals,Coal-based Liquid Fuel Supply,Suppliers of CO2', '3.14 MtCO2e'),
 (10, 'Minerals,Waste', '3.12 MtCO2e'),
 (29, 'Chemicals,Suppliers of CO2', '27.44 MtCO2e'),
 (84, 'Pulp and Paper,Waste', '24.95 MtCO2e'),
 (7, 'Power Plants,Waste', '24.88 MtCO2e'),
 (36, 'Other,Suppliers of CO2', '2.95 MtCO2e'),
 (2, 'Chemicals,Petroleum Product Suppliers', '2.37 MtCO2e'),
 (1, 'Chemicals,Petroleum Product Suppliers,Refineries,Waste', '2.30 MtCO2e'),
 (2, 'Petroleum and Natural Gas Systems,Power Plants', '2.26 MtCO2e'),
 (11, 'Other,Suppliers of CO2,Waste', '2.22 MtCO2e'),
 (1, 'Chemicals,Power Plants,Waste', '2.17 MtCO2e'),
 (11, 'Chemicals,Waste', '17.52 MtCO2e'),
 (10, 'Other,Power Plants', '17.32 MtCO2e'),
 (112, 'Other,Waste', '17.10 MtCO2e'),
 (3, 'Power Plants,Suppliers of CO2', '14.90 MtCO2e'),
 (17, 'Metals,Waste', '14.62 MtCO2e'),
 (4, 'Chemicals,Refineries,Suppliers of CO2', '13.39 MtCO2e'),
 (132, 'Pulp and Paper', '13.03 MtCO2e'),
 (97, 'Natural Gas and Natural Gas Liquids Suppliers,Petroleum and Natural Gas Systems', '12.23 MtCO2e'),
 (371, 'Minerals', '112.04 MtCO2e'),
 (328, 'Chemicals', '106.40 MtCO2e'),
 (1066, 'Other', '101.35 MtCO2e'),
 (1187, 'Petroleum and Natural Gas Systems', '101.03 MtCO2e'),
 (1204, 'Waste', '100.62 MtCO2e'),
 (6, 'Chemicals,Refineries', '10.34 MtCO2e'),
 (1, 'Natural Gas and Natural Gas Liquids Suppliers,Petroleum and Natural Gas Systems,Power Plants', '1.52 MtCO2e'),
 (4, 'Pulp and Paper,Suppliers of CO2,Waste', '1.40 MtCO2e'),
 (1338, 'Power Plants', '1,593.30 MtCO2e'),
 (1, 'Petroleum Product Suppliers,Refineries,Waste', '0.89 MtCO2e'),
 (8, 'Petroleum and Natural Gas Systems,Suppliers of CO2', '0.64 MtCO2e'),
 (1, 'Chemicals,Petroleum and Natural Gas Systems,Refineries', '0.60 MtCO2e'),
 (7, 'Injection of CO2,Petroleum and Natural Gas Systems', '0.54 MtCO2e'),
 (3, 'Petroleum Product Suppliers,Petroleum and Natural Gas Systems', '0.27 MtCO2e'),
 (7, 'Import and Export of Equipment Containing Fluorintaed GHGs,Other', '0.26 MtCO2e'),
 (3, 'Natural Gas and Natural Gas Liquids Suppliers,Power Plants', '0.25 MtCO2e'),
 (2, 'Injection of CO2,Natural Gas and Natural Gas Liquids Suppliers,Petroleum and Natural Gas Systems,Suppliers of CO2', '0.23 MtCO2e'),
 (1, 'Pulp and Paper,Suppliers of CO2', '0.16 MtCO2e'),
 (1, 'Injection of CO2,Natural Gas and Natural Gas Liquids Suppliers,Petroleum and Natural Gas Systems', '0.06 MtCO2e'),
 (1, 'Chemicals,Industrial Gas Suppliers,Waste', '0.04 MtCO2e'),
 (1, 'Import and Export of Equipment Containing Fluorintaed GHGs,Industrial Gas Suppliers,Other', '0.04 MtCO2e'),
 (2, 'Other,Petroleum and Natural Gas Systems', '0.03 MtCO2e'),
 (1, 'Chemicals,Industrial Gas Suppliers,Minerals', '0.03 MtCO2e'),
 (1, 'Industrial Gas Suppliers,Other', '0.01 MtCO2e'),
 (1, 'Natural Gas and Natural Gas Liquids Suppliers,Other', '0.00 MtCO2e')]

This looks at the `Minerals` industry (which includes cement).  We see that the top emitters have multiple facility locations.

In [7]:
qres = engine.execute(f"""
select count (*), parent_company_name, format('%5.2f', sum(total_reported_emissions)/1000000) || ' MtCO2e' as MtCO2e
from {epa_table_prefix}direct_emitters, {epa_table_prefix}parent_company
where year>=DATE('2019-01-01') and year<DATE('2020-01-01') and year=reporting_year
      and latest_reported_industry_type_sectors='Minerals'
      and {epa_table_prefix}direct_emitters.facility_id={epa_table_prefix}parent_company.ghgrp_facility_id
group by parent_company_name
order by MtCO2e desc
limit 20
""")
display(qres.fetchall())

[(12, 'HOLCIM PARTICIPATIONS (US) INC', '10.78 MtCO2e'),
 (9, 'CEMEX INC', ' 7.84 MtCO2e'),
 (12, 'LEHIGH HANSON INC', ' 7.17 MtCO2e'),
 (8, 'RC LONESTAR INC', ' 6.67 MtCO2e'),
 (11, 'LHOIST NORTH AMERICA INC', ' 6.10 MtCO2e'),
 (11, 'CARMEUSE LIME INC', ' 4.96 MtCO2e'),
 (9, 'GRAYMONT INC', ' 4.15 MtCO2e'),
 (8, 'CRH AMERICAS INC', ' 4.04 MtCO2e'),
 (4, 'MARTIN MARIETTA MATERIALS INC', ' 3.94 MtCO2e'),
 (4, 'ARGOS USA LLC', ' 3.57 MtCO2e'),
 (11, 'EAGLE MATERIALS INC', ' 3.46 MtCO2e'),
 (3, 'MISSISSIPPI LIME CO', ' 3.39 MtCO2e'),
 (3, 'TAIHEIYO CEMENT USA INC', ' 3.27 MtCO2e'),
 (5, 'GCC OF AMERICA INC', ' 2.31 MtCO2e'),
 (2, 'TITAN AMERICA LLC', ' 2.23 MtCO2e'),
 (1, 'GENESIS ENERGY LP', ' 1.82 MtCO2e'),
 (1, 'LAFARGEHOLCIM NORTH AMERICA INC', ' 1.79 MtCO2e'),
 (2, 'NATIONAL CEMENT', ' 1.63 MtCO2e'),
 (2, 'SUMMIT MATERIALS INC', ' 1.56 MtCO2e'),
 (1, 'TATA CHEMICALS (SODA ASH) PARTNERS NORTH AMERICA', ' 1.54 MtCO2e')]

`Suppliers` are those who buy and sell GHG-emitting products, but they do not, themselves, cause the emissions.  They merely enable others to emit.

In [8]:
qres = engine.execute(f"describe {epa_table_prefix}suppliers")
display(qres.fetchall())

[('facility_id', 'bigint', '', ''),
 ('frs_id', 'varchar', '', ''),
 ('facility_name', 'varchar', '', ''),
 ('city', 'varchar', '', ''),
 ('state', 'varchar', '', ''),
 ('zip_code', 'varchar', '', ''),
 ('address', 'varchar', '', ''),
 ('county', 'varchar', '', ''),
 ('latitude', 'double', '', ''),
 ('longitude', 'double', '', ''),
 ('primary_naics_code', 'varchar', '', ''),
 ('latest_reported_industry_type_subparts', 'varchar', '', ''),
 ('coal_based_liquid_fuel_production_ghg', 'double', '', ''),
 ('coal_based_liquid_fuel_production_ghg_units', 'varchar', '', ''),
 ('petroleum_products_produced_ghg', 'double', '', ''),
 ('petroleum_products_produced_ghg_units', 'varchar', '', ''),
 ('petroleum_products_imported_ghg', 'double', '', ''),
 ('petroleum_products_imported_ghg_units', 'varchar', '', ''),
 ('petroleum_products_exported_ghg', 'double', '', ''),
 ('petroleum_products_exported_ghg_units', 'varchar', '', ''),
 ('natural_gas_supply_ghg', 'double', '', ''),
 ('natural_gas_supply_ghg_units', 'varchar', '', ''),
 ('natural_gas_liquids_supply_ghg', 'double', '', ''),
 ('natural_gas_liquids_supply_ghg_units', 'varchar', '', ''),
 ('co2_supply_ghg', 'double', '', ''),
 ('co2_supply_ghg_units', 'varchar', '', ''),
 ('year', 'timestamp(6)', '', '')]

A quick summary of how many rows of data we have in `epa_ghgrp`.

68k rows in `direct_emitters`: lots of facilities  
103k rows in `parent_company`: lots of facility/owner relationships

In [9]:
qres = engine.execute('show tables in sandbox')
l = qres.fetchall()

l = [t for t in l if t[0].startswith('epa_')]
totalrows = 0
for e in l:
    s = f'select count (*) from {e[0]}'
    qres = engine.execute(s)
    rowcount = qres.fetchall()[0][0]
    totalrows += rowcount
    print(f"{rowcount:>6} <- {s})")

print(f'{totalrows} <- total rows')

   954 <- select count (*) from epa_co2_injection)
 68472 <- select count (*) from epa_direct_emitters)
  1703 <- select count (*) from epa_gathering_boosting)
    20 <- select count (*) from epa_geologic_sequestration_of_co2)
  1730 <- select count (*) from epa_ldc_direct_emissions)
  5068 <- select count (*) from epa_onshore_oil_gas_prod)
 89879 <- select count (*) from epa_parent_attribution)
103043 <- select count (*) from epa_parent_company)
  1012 <- select count (*) from epa_sf6_from_elec_equip)
  8539 <- select count (*) from epa_suppliers)
   780 <- select count (*) from epa_transmission_pipelines)
281200 <- total rows

# Reshaping tables to make them easier to chart

The key metric is total_emissions (in metric tons of CO2e), but the name of the metric depends on the source/process.  Nevertheless, we know that `year` is our last metric and that the CO2e metric is 2nd-to-last (hence the `-2` index).

We also know that when building our final summary table, the sums feeding into it are all only one row per year.  We use `iat[0,1` to access the 0th row and the 1st column (which will be named specifically to the source/process).  By using `iat`, we get a scalar value we can sum, instead of a Series object we'd have to `squeeze`.

In [10]:
import pandas as pd

emission_tables = ['direct_emitters', 'onshore_oil_gas_prod', 'gathering_boosting',
                   'transmission_pipelines', 'ldc_direct_emissions', 'sf6_from_elec_equip']
tot_em_columns = []

q_dict = {}

for t in emission_tables:
    qres = engine.execute(f"describe {epa_table_prefix}{t}")
    tr = qres.fetchall()
    # Each table's total reported emissions are in column total_reported_emissions
    # (paired with total_reported_emissions_units).  We need to make unique names for this merge
    total_emission_cname = t+"_em"
    tot_em_columns.append(total_emission_cname)
    qres = engine.execute(f"""
select year, sum(total_reported_emissions), total_reported_emissions_units
from {epa_table_prefix}{t}
group by year, total_reported_emissions_units
""")
    q_dict[t] = pd.DataFrame(qres.fetchall(), columns=['year', total_emission_cname, total_emission_cname+"_units"])

In [11]:
# A function that excludes terms using SQL to say "and X!=Y"
def excl_text(excl):
    return ' and '.join([f"latest_reported_industry_type_sectors!='{e}'" for e in excl])

# A function that includes text that matches; SQL that says "or X like '%Y%'"
def incl_text(incl):
    return ' or '.join([f"latest_reported_industry_type_sectors like '%{e}%'" for e in incl])

t = 'direct_emitters'
qres = engine.execute(f"describe epa_{t}")
t_cols = qres.fetchall()
total_emission_cname = t+"_em"

incl = [ 'Power', 'Petroleum']
qres = engine.execute(f"""
select year, sum(total_reported_emissions),  total_reported_emissions_units
from {epa_table_prefix}{t}
where {incl_text(incl)}
group by year, total_reported_emissions_units
""")

q_dict[t + f" (incl {','.join(incl)})"] = pd.DataFrame(qres.fetchall(),
                                                       columns=['year',
                                                                total_emission_cname + f" (matching {','.join(incl)})",
                                                                total_emission_cname + f" (matching {','.join(incl)})" + "_units"])

excl = [ 'Minerals', 'Other', 'Waste', 'Chemicals', 'Pulp and Paper,Waste',
        'Metals,Waste', 'Pulp and Paper']
qres = engine.execute(f"""
select year, sum(total_reported_emissions),  total_reported_emissions_units
from {epa_table_prefix}{t}
where {excl_text(excl)}
group by year, total_reported_emissions_units
""")
q_dict[t + f" (excl {','.join(excl)})"] = pd.DataFrame(qres.fetchall(),
                                                       columns=['year',
                                                                total_emission_cname + f" (excl {','.join(excl)})",
                                                                total_emission_cname + f" (excl {','.join(excl)})" + "_units"])

In [12]:
for t in emission_tables:
    qres = engine.execute(f"describe {epa_table_prefix}{t}")
    tr = qres.fetchall()
    total_emission_cname = t+"_em"
    qres = engine.execute(f"""
select year, sum(total_reported_emissions),  total_reported_emissions_units
from {epa_table_prefix}{t}
group by year, total_reported_emissions_units
""")
    q_dict[t] = pd.DataFrame(qres.fetchall(), columns=['year',
                                                       total_emission_cname,
                                                       total_emission_cname + "_units"])

grand_total = {}

for year in q_dict['direct_emitters'].year:
    grand_total[year] = sum([q_dict[t][q_dict[t].year==year].iat[0,1]
                             for t in emission_tables if year in q_dict[t].year.values])

df = pd.DataFrame.from_dict(grand_total, orient='index', columns=['total_co2e']).reset_index()
df.rename(columns={'index':'year'}, inplace=True)
# Grab the common unit that all these reports share
df['total_co2e_units'] = q_dict['direct_emitters'].iat[0,2]
q_dict['grand_total'] = df

This gem comes from https://stackoverflow.com/questions/44327999/python-pandas-merge-multiple-dataframes

In [13]:
from functools import reduce

df_merged = reduce(lambda left,right: pd.merge(left,right,on=['year'], how='outer'), q_dict.values()).fillna(0)
df_merged.sort_values(by='year', ascending=False, inplace=True)
df_merged.index = pd.RangeIndex(len(df_merged.index))

In [14]:
df_merged

,year,direct_emitters_em,direct_emitters_em_units,onshore_oil_gas_prod_em,onshore_oil_gas_prod_em_units,gathering_boosting_em,gathering_boosting_em_units,transmission_pipelines_em,transmission_pipelines_em_units,ldc_direct_emissions_em,ldc_direct_emissions_em_units,sf6_from_elec_equip_em,sf6_from_elec_equip_em_units,"direct_emitters_em (matching Power,Petroleum)","direct_emitters_em (matching Power,Petroleum)_units","direct_emitters_em (excl Minerals,Other,Waste,Chemicals,Pulp and Paper,Waste,Metals,Waste,Pulp and Paper)","direct_emitters_em (excl Minerals,Other,Waste,Chemicals,Pulp and Paper,Waste,Metals,Waste,Pulp and Paper)_units",total_co2e,total_co2e_units
0,2020-01-01 00:00:00.000,2.400335e+09,t CO2,9.348811e+07,t CO2,9.002867e+07,t CO2,3.497590e+06,t CO2,1.264110e+07,t CO2,2.004836e+06,t CO2,1.768353e+09,t CO2,1.947463e+09,t CO2,2.601995e+09,t CO2
1,2019-01-01 00:00:00.000,2.626532e+09,t CO2,1.201743e+08,t CO2,9.276566e+07,t CO2,2.859475e+06,t CO2,1.284702e+07,t CO2,2.510832e+06,t CO2,1.958369e+09,t CO2,2.153508e+09,t CO2,2.857689e+09,t CO2
2,2018-01-01 00:00:00.000,2.779471e+09,t CO2,1.119588e+08,t CO2,8.332560e+07,t CO2,3.050315e+06,t CO2,1.323626e+07,t CO2,2.270228e+06,t CO2,2.099221e+09,t CO2,2.304343e+09,t CO2,2.993312e+09,t CO2
3,2017-01-01 00:00:00.000,2.735841e+09,t CO2,9.624146e+07,t CO2,7.783058e+07,t CO2,2.699047e+06,t CO2,1.367043e+07,t CO2,2.555766e+06,t CO2,2.070082e+09,t CO2,2.270354e+09,t CO2,2.928838e+09,t CO2
4,2016-01-01 00:00:00.000,2.805105e+09,t CO2,8.689825e+07,t CO2,8.259701e+07,t CO2,3.183982e+06,t CO2,1.400229e+07,t CO2,2.930497e+06,t CO2,2.144348e+09,t CO2,2.337524e+09,t CO2,2.994717e+09,t CO2
5,2015-01-01 00:00:00.000,2.939444e+09,t CO2,1.017485e+08,t CO2,0.000000e+00,0,0.000000e+00,0,1.455831e+07,t CO2,2.472281e+06,t CO2,2.261725e+09,t CO2,2.452045e+09,t CO2,3.058223e+09,t CO2
6,2014-01-01 00:00:00.000,3.084069e+09,t CO2,1.019517e+08,t CO2,0.000000e+00,0,0.000000e+00,0,1.477185e+07,t CO2,3.220287e+06,t CO2,2.392070e+09,t CO2,2.592859e+09,t CO2,3.204013e+09,t CO2
7,2013-01-01 00:00:00.000,3.073214e+09,t CO2,9.795946e+07,t CO2,0.000000e+00,0,0.000000e+00,0,1.516147e+07,t CO2,3.258298e+06,t CO2,2.392082e+09,t CO2,2.593335e+09,t CO2,3.189593e+09,t CO2
8,2012-01-01 00:00:00.000,3.058076e+09,t CO2,9.253966e+07,t CO2,0.000000e+00,0,0.000000e+00,0,1.541235e+07,t CO2,3.236291e+06,t CO2,2.376107e+09,t CO2,2.579361e+09,t CO2,3.169264e+09,t CO2
9,2011-01-01 00:00:00.000,3.207583e+09,t CO2,9.119057e+07,t CO2,0.000000e+00,0,0.000000e+00,0,1.566794e+07,t CO2,3.920547e+06,t CO2,2.509918e+09,t CO2,2.728839e+09,t CO2,3.318362e+09,t CO2

A summary table consolidating the totals from the GHGRP, plus three additional columns:
1. direct emitters that match "Power" or "Petroleum"
2. direct emitters that are not the top other industries
3. total co2e

In [15]:
df_merged.rename(columns={v:v.replace('_', ' ') for v in df_merged.columns.values})

,year,direct emitters em,direct emitters em units,onshore oil gas prod em,onshore oil gas prod em units,gathering boosting em,gathering boosting em units,transmission pipelines em,transmission pipelines em units,ldc direct emissions em,ldc direct emissions em units,sf6 from elec equip em,sf6 from elec equip em units,"direct emitters em (matching Power,Petroleum)","direct emitters em (matching Power,Petroleum) units","direct emitters em (excl Minerals,Other,Waste,Chemicals,Pulp and Paper,Waste,Metals,Waste,Pulp and Paper)","direct emitters em (excl Minerals,Other,Waste,Chemicals,Pulp and Paper,Waste,Metals,Waste,Pulp and Paper) units",total co2e,total co2e units
0,2020-01-01 00:00:00.000,2.400335e+09,t CO2,9.348811e+07,t CO2,9.002867e+07,t CO2,3.497590e+06,t CO2,1.264110e+07,t CO2,2.004836e+06,t CO2,1.768353e+09,t CO2,1.947463e+09,t CO2,2.601995e+09,t CO2
1,2019-01-01 00:00:00.000,2.626532e+09,t CO2,1.201743e+08,t CO2,9.276566e+07,t CO2,2.859475e+06,t CO2,1.284702e+07,t CO2,2.510832e+06,t CO2,1.958369e+09,t CO2,2.153508e+09,t CO2,2.857689e+09,t CO2
2,2018-01-01 00:00:00.000,2.779471e+09,t CO2,1.119588e+08,t CO2,8.332560e+07,t CO2,3.050315e+06,t CO2,1.323626e+07,t CO2,2.270228e+06,t CO2,2.099221e+09,t CO2,2.304343e+09,t CO2,2.993312e+09,t CO2
3,2017-01-01 00:00:00.000,2.735841e+09,t CO2,9.624146e+07,t CO2,7.783058e+07,t CO2,2.699047e+06,t CO2,1.367043e+07,t CO2,2.555766e+06,t CO2,2.070082e+09,t CO2,2.270354e+09,t CO2,2.928838e+09,t CO2
4,2016-01-01 00:00:00.000,2.805105e+09,t CO2,8.689825e+07,t CO2,8.259701e+07,t CO2,3.183982e+06,t CO2,1.400229e+07,t CO2,2.930497e+06,t CO2,2.144348e+09,t CO2,2.337524e+09,t CO2,2.994717e+09,t CO2
5,2015-01-01 00:00:00.000,2.939444e+09,t CO2,1.017485e+08,t CO2,0.000000e+00,0,0.000000e+00,0,1.455831e+07,t CO2,2.472281e+06,t CO2,2.261725e+09,t CO2,2.452045e+09,t CO2,3.058223e+09,t CO2
6,2014-01-01 00:00:00.000,3.084069e+09,t CO2,1.019517e+08,t CO2,0.000000e+00,0,0.000000e+00,0,1.477185e+07,t CO2,3.220287e+06,t CO2,2.392070e+09,t CO2,2.592859e+09,t CO2,3.204013e+09,t CO2
7,2013-01-01 00:00:00.000,3.073214e+09,t CO2,9.795946e+07,t CO2,0.000000e+00,0,0.000000e+00,0,1.516147e+07,t CO2,3.258298e+06,t CO2,2.392082e+09,t CO2,2.593335e+09,t CO2,3.189593e+09,t CO2
8,2012-01-01 00:00:00.000,3.058076e+09,t CO2,9.253966e+07,t CO2,0.000000e+00,0,0.000000e+00,0,1.541235e+07,t CO2,3.236291e+06,t CO2,2.376107e+09,t CO2,2.579361e+09,t CO2,3.169264e+09,t CO2
9,2011-01-01 00:00:00.000,3.207583e+09,t CO2,9.119057e+07,t CO2,0.000000e+00,0,0.000000e+00,0,1.566794e+07,t CO2,3.920547e+06,t CO2,2.509918e+09,t CO2,2.728839e+09,t CO2,3.318362e+09,t CO2

# Cross-check with ESSD tops-down dataset

A quick look at *just* CO2.  We'll look at CO2e in the next set of cells.

In [16]:
qres = engine.execute("""
select format('%tY', year), sector_title, format('%,.2f', sum(value)/1000000000) || ' GtCO2' as GtCO2 from essd_ghg_data
where sector_title='Energy systems' and gas='CO2' and year>DATE('2010-01-01') and year<DATE('2020-01-01') and ISO='USA'
group by year, sector_title, gas order by year desc""")
qres.fetchall()

[('2019', 'Energy systems', '1.99 GtCO2'),
 ('2018', 'Energy systems', '2.13 GtCO2'),
 ('2017', 'Energy systems', '2.11 GtCO2'),
 ('2016', 'Energy systems', '2.18 GtCO2'),
 ('2015', 'Energy systems', '2.28 GtCO2'),
 ('2014', 'Energy systems', '2.41 GtCO2'),
 ('2013', 'Energy systems', '2.41 GtCO2'),
 ('2012', 'Energy systems', '2.39 GtCO2'),
 ('2011', 'Energy systems', '2.51 GtCO2')]

In [17]:
qres = engine.execute('describe essd_ghg_data')
qres.fetchall()

[('iso', 'varchar', '', ''),
 ('country', 'varchar', '', ''),
 ('region_ar6_6', 'varchar', '', ''),
 ('region_ar6_10', 'varchar', '', ''),
 ('region_ar6_22', 'varchar', '', ''),
 ('region_ar6_dev', 'varchar', '', ''),
 ('sector_title', 'varchar', '', ''),
 ('subsector_title', 'varchar', '', ''),
 ('gas', 'varchar', '', ''),
 ('gwp100_ar5', 'integer', '', ''),
 ('value', 'double', '', ''),
 ('value_units', 'varchar', '', ''),
 ('year', 'timestamp(6)', '', '')]

In [18]:
qres = engine.execute('describe essd_gwp100_data')
qres.fetchall()

[('iso', 'varchar', '', ''),
 ('country', 'varchar', '', ''),
 ('region_ar6_6', 'varchar', '', ''),
 ('region_ar6_10', 'varchar', '', ''),
 ('region_ar6_22', 'varchar', '', ''),
 ('region_ar6_dev', 'varchar', '', ''),
 ('sector_title', 'varchar', '', ''),
 ('subsector_title', 'varchar', '', ''),
 ('co2', 'double', '', ''),
 ('co2_units', 'varchar', '', ''),
 ('ch4', 'double', '', ''),
 ('ch4_units', 'varchar', '', ''),
 ('n2o', 'double', '', ''),
 ('n2o_units', 'varchar', '', ''),
 ('fgas', 'double', '', ''),
 ('fgas_units', 'varchar', '', ''),
 ('ghg', 'double', '', ''),
 ('ghg_units', 'varchar', '', ''),
 ('year', 'timestamp(6)', '', '')]

A look at CO2e (presuming that's what GHG gives us from the GWP100 table) for the category `Energy Systems`.

In [19]:
qres = engine.execute("""
select format('%tY', year), sector_title, format('%,.2f', sum(GHG)/1000000000) || ' GtCO2' as GtCO2 from essd_gwp100_data
where sector_title='Energy systems' and year>DATE('2010-01-01') and year<DATE('2020-01-01') and ISO='USA'
group by year, sector_title order by year desc""")
qres.fetchall()

[('2019', 'Energy systems', '2.35 GtCO2'),
 ('2018', 'Energy systems', '2.48 GtCO2'),
 ('2017', 'Energy systems', '2.45 GtCO2'),
 ('2016', 'Energy systems', '2.51 GtCO2'),
 ('2015', 'Energy systems', '2.63 GtCO2'),
 ('2014', 'Energy systems', '2.78 GtCO2'),
 ('2013', 'Energy systems', '2.78 GtCO2'),
 ('2012', 'Energy systems', '2.76 GtCO2'),
 ('2011', 'Energy systems', '2.89 GtCO2')]

# Connect with economic data provided by US CENSUS All-sector Survey (2017)

In [20]:
qres = engine.execute("describe census_all_sector_survey_2017")
display(qres.fetchall())
qres = engine.execute("select * from census_all_sector_survey_2017 where naics2012='221112'")
display(qres.fetchall())

[('geo_id', 'varchar', '', ''),
 ('name', 'varchar', '', ''),
 ('geo_id_f', 'bigint', '', ''),
 ('naics2012', 'varchar', '', ''),
 ('naics2012_f', 'varchar', '', ''),
 ('naics2012_label', 'varchar', '', ''),
 ('estab', 'varchar', '', ''),
 ('rcptot', 'varchar', '', ''),
 ('payann', 'varchar', '', ''),
 ('emp', 'varchar', '', ''),
 ('year', 'varchar', '', '')]

[('0100000US', 'United States', None, '221112', None, 'Fossil fuel electric power generation', '1416', '81473633', '7997908', '82071', '2012'),
 ('0100000US', 'United States', None, '221112', None, 'Fossil fuel electric power generation', '1711', '75455040', '8192622', '76058', '2017')]

Exercise the connection to NAICS and sector information provided by US Department of Commerce (US_CENSUS)

In [21]:
# Show how many facilities are tagged with what primary NAICS codes

qres = engine.execute(f"""
select count (*), format('%tY', {epa_table_prefix}direct_emitters.year), primary_naics_code, naics2012_label
from {epa_table_prefix}direct_emitters, census_all_sector_survey_2017
where primary_naics_code=naics2012
      and census_all_sector_survey_2017.year='2017' and {epa_table_prefix}direct_emitters.year=DATE('2017-01-01')
group by {epa_table_prefix}direct_emitters.year, primary_naics_code, naics2012_label
order by count (*) desc limit 20
""")
display(qres.fetchall())

[(1281, '2017', '221112', 'Fossil fuel electric power generation'),
 (1134, '2017', '562212', 'Solid waste landfill'),
 (585, '2017', '486210', 'Pipeline transportation of natural gas'),
 (173, '2017', '325193', 'Ethyl alcohol manufacturing'),
 (141, '2017', '324110', 'Petroleum refineries'),
 (120, '2017', '331110', 'Iron and steel mills and ferroalloy manufacturing'),
 (114, '2017', '322121', 'Paper (except newsprint) mills'),
 (100, '2017', '325199', 'All other basic organic chemical manufacturing'),
 (93, '2017', '327310', 'Cement manufacturing'),
 (79, '2017', '212112', 'Bituminous coal underground mining'),
 (77, '2017', '322130', 'Paperboard mills'),
 (75, '2017', '325211', 'Plastics material and resin manufacturing'),
 (69, '2017', '325120', 'Industrial gas manufacturing'),
 (65, '2017', '562213', 'Solid waste combustors and incinerators'),
 (59, '2017', '325180', 'Other basic inorganic chemical manufacturing'),
 (59, '2017', '221330', 'Steam and air-conditioning supply'),
 (55, '2017', '327420', 'Gypsum product manufacturing'),
 (50, '2017', '334413', 'Semiconductor and related device manufacturing'),
 (49, '2017', '327410', 'Lime manufacturing'),
 (48, '2017', '311224', 'Soybean and other oilseed processing')]

# More table reshaping: attribution estimation

In [22]:
df = pd.read_sql(f"""
select facility_id, year, latitude, longitude, latest_reported_industry_type_sectors, total_reported_emissions
from {epa_table_prefix}direct_emitters""", engine)
df.facility_id = df.facility_id.astype('int64')
df.year = df.year.astype('datetime64[ns, UTC]')
df.total_reported_emissions = df.total_reported_emissions.astype('float64')
df.latest_reported_industry_type_sectors.fillna('Other', inplace=True)

df['sector_groupings'] = pd.Series([f"{s[0]} ({len(s)+1})" if len(s)>1 else s[0] for s in df.latest_reported_industry_type_sectors.str.split(',')])

In [23]:
for sl in df.latest_reported_industry_type_sectors.str.split(','):
    # Ensure all primary (and if listed, secondary) sectors are represented
    if f's_{sl[0]}' not in df.columns:
        df[f's_{sl[0]}'] = 0.0
    if len(sl)>1 and f's_{sl[1]}' not in df.columns:
        df[f's_{sl[1]}'] = 0.0

In [24]:
attribution_vector = [ pd.Series([1.0]),
                       pd.Series([2.0/3.0, 1.0/3.0]),
                       pd.Series([0.5, 0.3, 0.2]),
                       pd.Series([0.4, 0.3, 0.2, 0.1]),
                       pd.Series([0.30, 0.25, 0.20, 0.15, 0.10]),
                       pd.Series([0.30, 0.24, 0.19, 0.14, 0.09, 0.04])]

def apply_attribution(x):
    sl = x.latest_reported_industry_type_sectors.split(',')
    # Tertiary sectors not previously mentioned are silently converted to Other, keeping our attribution columns from exploding
    appropriate_columns = list(set([f's_{s}' if f's_{s}' in x else 's_Other' for s in sl]))
    x[ appropriate_columns ] = x.total_reported_emissions * attribution_vector[len(appropriate_columns)-1].values
    return x

df_emitters = df.apply(apply_attribution, axis=1)

In [25]:
df_emitters[df_emitters.latest_reported_industry_type_sectors.str.contains(',')]

,facility_id,year,latitude,longitude,latest_reported_industry_type_sectors,total_reported_emissions,sector_groupings,s_Waste,s_Power Plants,s_Petroleum and Natural Gas Systems,...,s_Industrial Gas Suppliers,s_Metals,s_Suppliers of CO2,s_Pulp and Paper,s_Petroleum Product Suppliers,s_Refineries,s_Injection of CO2,s_Natural Gas and Natural Gas Liquids Suppliers,s_Import and Export of Equipment Containing Fluorintaed GHGs,s_Coal-based Liquid Fuel Supply
8,1004206,2019-01-01 00:00:00+00:00,34.641667,-87.038611,"Chemicals,Industrial Gas Suppliers",4.665213e+04,Chemicals (3),0.000,0.000000e+00,0.000000,...,15550.711411,0.0,0.000000,0.0,0.0,0.0,0.0000,0.000000,0.0,0.0
9,1006665,2019-01-01 00:00:00+00:00,41.755000,-90.284167,"Chemicals,Industrial Gas Suppliers",7.669719e+05,Chemicals (3),0.000,0.000000e+00,0.000000,...,255657.293867,0.0,0.000000,0.0,0.0,0.0,0.0000,0.000000,0.0,0.0
10,1004836,2019-01-01 00:00:00+00:00,44.789444,-92.908333,"Chemicals,Industrial Gas Suppliers,Minerals",3.212648e+04,Chemicals (4),0.000,0.000000e+00,0.000000,...,9637.944142,0.0,0.000000,0.0,0.0,0.0,0.0000,0.000000,0.0,0.0
30,1002627,2019-01-01 00:00:00+00:00,43.499510,-92.917090,"Other,Waste",1.407033e+05,Other (3),46901.086,0.000000e+00,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0000,0.000000,0.0,0.0
33,1004761,2019-01-01 00:00:00+00:00,44.958900,-90.960800,"Other,Suppliers of CO2",7.559192e+04,Other (3),0.000,0.000000e+00,0.000000,...,0.000000,0.0,50394.610667,0.0,0.0,0.0,0.0000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68408,1000912,2017-01-01 00:00:00+00:00,33.016300,-79.928500,"Petroleum and Natural Gas Systems,Power Plants",2.344089e+06,Petroleum and Natural Gas Systems (3),0.000,1.562726e+06,781362.904667,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0000,0.000000,0.0,0.0
68435,1004143,2017-01-01 00:00:00+00:00,39.551680,-110.815840,"Petroleum and Natural Gas Systems,Suppliers of...",4.355017e+04,Petroleum and Natural Gas Systems (3),0.000,0.000000e+00,14516.723333,...,0.000000,0.0,29033.446667,0.0,0.0,0.0,0.0000,0.000000,0.0,0.0
68436,1004137,2017-01-01 00:00:00+00:00,32.907723,-97.465856,"Petroleum and Natural Gas Systems,Suppliers of...",7.795229e+04,Petroleum and Natural Gas Systems (3),0.000,0.000000e+00,25984.097333,...,0.000000,0.0,51968.194667,0.0,0.0,0.0,0.0000,0.000000,0.0,0.0
68437,1006270,2017-01-01 00:00:00+00:00,32.784700,-93.374400,"Natural Gas and Natural Gas Liquids Suppliers,...",7.625837e+04,Natural Gas and Natural Gas Liquids Suppliers (3),0.000,0.000000e+00,25419.455333,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0000,50838.910667,0.0,0.0
68463,1011356,2017-01-01 00:00:00+00:00,32.643022,-103.808867,"Injection of CO2,Petroleum and Natural Gas Sys...",2.326923e+05,Injection of CO2 (4),0.000,0.000000e+00,46538.468400,...,0.000000,0.0,116346.171000,0.0,0.0,0.0,69807.7026,0.000000,0.0,0.0

In [26]:
df_emitters[df_emitters.latest_reported_industry_type_sectors.str.count(',')>1]

,facility_id,year,latitude,longitude,latest_reported_industry_type_sectors,total_reported_emissions,sector_groupings,s_Waste,s_Power Plants,s_Petroleum and Natural Gas Systems,...,s_Industrial Gas Suppliers,s_Metals,s_Suppliers of CO2,s_Pulp and Paper,s_Petroleum Product Suppliers,s_Refineries,s_Injection of CO2,s_Natural Gas and Natural Gas Liquids Suppliers,s_Import and Export of Equipment Containing Fluorintaed GHGs,s_Coal-based Liquid Fuel Supply
10,1004836,2019-01-01 00:00:00+00:00,44.789444,-92.908333,"Chemicals,Industrial Gas Suppliers,Minerals",3.212648e+04,Chemicals (4),0.0000,0.0,0.0000,...,9637.944142,0.0,0.000000e+00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
231,1001945,2019-01-01 00:00:00+00:00,44.474074,-95.783525,"Other,Suppliers of CO2,Waste",1.796889e+05,Other (4),35937.7748,0.0,0.0000,...,0.000000,0.0,8.984444e+04,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
251,1002515,2019-01-01 00:00:00+00:00,32.756400,-104.211100,"Injection of CO2,Petroleum and Natural Gas Sys...",8.756854e+04,Injection of CO2 (4),0.0000,0.0,17513.7076,...,0.000000,0.0,4.378427e+04,0.0000,0.0000,0.0000,26270.5614,0.0,0.0,0.0
375,1004861,2019-01-01 00:00:00+00:00,40.556501,-89.666235,"Other,Suppliers of CO2,Waste",1.672424e+05,Other (4),33448.4844,0.0,0.0000,...,0.000000,0.0,8.362121e+04,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
376,1000413,2019-01-01 00:00:00+00:00,40.555000,-89.662800,"Other,Suppliers of CO2,Waste",3.142571e+05,Other (4),62851.4116,0.0,0.0000,...,0.000000,0.0,1.571285e+05,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68204,1005217,2017-01-01 00:00:00+00:00,43.210491,-78.365416,"Other,Suppliers of CO2,Waste",7.875665e+04,Other (4),15751.3296,0.0,0.0000,...,0.000000,0.0,3.937832e+04,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
68264,1004874,2017-01-01 00:00:00+00:00,44.398600,-89.826300,"Pulp and Paper,Suppliers of CO2,Waste",5.334920e+05,Pulp and Paper (4),160047.5994,0.0,0.0000,...,0.000000,0.0,2.667460e+05,106698.3996,0.0000,0.0000,0.0000,0.0,0.0,0.0
68275,1007518,2017-01-01 00:00:00+00:00,38.837500,-90.067500,"Chemicals,Petroleum Product Suppliers,Refineri...",4.275849e+06,Chemicals (6),641377.4028,0.0,0.0000,...,0.000000,0.0,1.282755e+06,0.0000,427584.9352,855169.8704,0.0000,0.0,0.0,0.0
68283,1002310,2017-01-01 00:00:00+00:00,34.628900,-97.168500,"Chemicals,Petroleum Product Suppliers,Refineries",8.116358e+05,Chemicals (4),0.0000,0.0,0.0000,...,0.000000,0.0,0.000000e+00,0.0000,405817.8950,243490.7370,0.0000,0.0,0.0,0.0
68463,1011356,2017-01-01 00:00:00+00:00,32.643022,-103.808867,"Injection of CO2,Petroleum and Natural Gas Sys...",2.326923e+05,Injection of CO2 (4),0.0000,0.0,46538.4684,...,0.000000,0.0,1.163462e+05,0.0000,0.0000,0.0000,69807.7026,0.0,0.0,0.0

import boto3

# Create an S3 client.  We will user later when we write out data and metadata
s3_trino = boto3.client(
    service_name="s3",
    endpoint_url=os.environ['S3_DEV_ENDPOINT'],
    aws_access_key_id=os.environ['S3_DEV_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_DEV_SECRET_KEY'],
)

custom_meta_key_fields = 'metafields'
custom_meta_key = 'metaset'

# from datetime import *
# timestamp = str(datetime.now())

qres = engine.execute(f'create schema if not exists {ingest_schema}')
qres.fetchall()

# Working with Materialized Views

For now, we use Database Tables, because the specific Trino connector we are using does not support Materialized Views.

Things start getting tricky here.  The `FACILITY_ID` is a primary key in tables like `DIRECT_EMITTERS`.  The Plum Point Energy Station (#1000539) has 5 owners, meaning there are 5 entries in the `parent_copmany` table with #1000539 as the `GHGRP_FACILITY_ID`.  If not careful, that plant's 3.4M Mt CO2e could be reported as 5x as much if each owner picks up the full attribution of those emissions.  Similarly, the DERA data is both annual (10-K, 20-F, 40-F) and quarterly (10-Q), which means that an interesting datapoints can occur 4 times per year.  We must take care when connecting annually-reported data to quarterly-reported data.  So...BEWARE!

And...use the parent_attribution table, which properly attributes a fraction of the emissions generated to the owner's fractional ownership.  Using this table, all 10 owners will have the correct emissions attributions, and the emissions won't be wrongly counted ten times.

Here's an example of a facility with many owners...

In [27]:
qres = engine.execute(f"""
select ghgrp_facility_id,frs_id_facility,lei,format('%tY', reporting_year),facility_name,
       facility_city,facility_state,parent_company_name,facility_naics_code
from {epa_table_prefix}parent_company where reporting_year=DATE('2020-01-01') and ghgrp_facility_id=1005071 order by lei""")
qres.fetchall()

[(1005071, '110000702730', '2549000NXAL5JJHJYT18', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'ENERGY RESOURCES TECHNOLOGY LAND INC', '211130'),
 (1005071, '110000702730', '54930000S35EESPK1C27', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'BYRON ENERGY LLC', '211130'),
 (1005071, '110000702730', '5493003QENHHS261UR94', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'TARGA RESOURCES CORP', '211130'),
 (1005071, '110000702730', '5493005Y7TJPYWLDEO18', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'ARENA ENERGY LP', '211130'),
 (1005071, '110000702730', '5493007VQUSLFRDRBT52', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'SUPERIOR NATURAL GAS CORP', '211130'),
 (1005071, '110000702730', '549300HX0ISXOOEMR657', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'BLACK ELK ENERGY OFFSHORE OPERATIONS LLC', '211130'),
 (1005071, '110000702730', '549300IRDTHJQ1PVET45', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'FREEPORT-MCMORAN INC', '211130'),
 (1005071, '110000702730', '549300ITPIHLG0LHEC09', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'HILCORP ENERGY CO', '211130'),
 (1005071, '110000702730', '549300NBDON5LHICQC34', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'ANKOR E&P HOLDINGS CORP', '211130'),
 (1005071, '110000702730', '549300Q7EOY2YIO3YK85', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'W&T OFFSHORE INC', '211130'),
 (1005071, '110000702730', '549300T5W131705EK832', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'TETRA TECHNOLOGIES INC', '211130'),
 (1005071, '110000702730', '549300U6FOM7FA4BEV90', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'SAMSUNG OIL & GAS USA CORP', '211130'),
 (1005071, '110000702730', '72ZZ1XRHOOU9P9X16K08', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'APACHE CORP', '211130'),
 (1005071, '110000702730', 'J3WHBG0MTS7O8ZVMDC91', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'EXXON MOBIL CORP', '211130'),
 (1005071, '110000702730', 'K4CDIF4M54DJZ6TB4Q48', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'ENTERPRISE PRODUCTS PARTNERS LP', '211130'),
 (1005071, '110000702730', 'VQOHU6HCVU6YY1KUKU03', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'DCP MIDSTREAM LP', '211130'),
 (1005071, '110000702730', 'WPTL2Z3FIYTHSP5V2253', '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'CONOCOPHILLIPS', '211130'),
 (1005071, '110000702730', None, '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'LEED PETROLEUM LLC', '211130'),
 (1005071, '110000702730', None, '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'UNION EXPLORATION PARTNERS LTD', '211130'),
 (1005071, '110000702730', None, '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'GRIZZLY ENERGY LLC', '211130'),
 (1005071, '110000702730', None, '2020', 'North Terrebonne Gas Plant', 'Gibson', 'LA', 'ENI PETROLEUM CO INC', '211130')]

...meaning 10 rows of data that's outside our easy-to-aggregate data

In [28]:
qres = engine.execute(f"""
select facility_id,facility_name,total_reported_emissions,
       city,state,latitude,longitude,primary_naics_code,
       latest_reported_industry_type_subparts,latest_reported_industry_type_sectors,format('%tY', year)
from {epa_table_prefix}direct_emitters where facility_id=1005071 order by year""")
qres.fetchall()

[(1005071, 'North Terrebonne Gas Plant', 383446.646, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2011'),
 (1005071, 'North Terrebonne Gas Plant', 339163.524, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2012'),
 (1005071, 'North Terrebonne Gas Plant', 313640.418, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2013'),
 (1005071, 'North Terrebonne Gas Plant', 312585.924, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2014'),
 (1005071, 'North Terrebonne Gas Plant', 292713.398, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2015'),
 (1005071, 'North Terrebonne Gas Plant', 216519.086, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2016'),
 (1005071, 'North Terrebonne Gas Plant', 194438.318, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2017'),
 (1005071, 'North Terrebonne Gas Plant', 229860.336, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2018'),
 (1005071, 'North Terrebonne Gas Plant', 307975.99, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2019'),
 (1005071, 'North Terrebonne Gas Plant', 45206.88, 'Gibson', 'LA', 29.6257, -90.9289, '211130', 'C,W-PROC', 'Petroleum and Natural Gas Systems', '2020')]

Create actual materialized data from a large concatenation operation

In [29]:
import osc_ingest_trino as osc
import itertools

engine.execute(f"create schema if not exists {ingest_schema}")

# display([(x, y) for x, y in zip(emission_tables,tot_em_columns)])

emission_selects = [ f"""
select ghgrp_facility_id, reporting_year, lei, '{e_tbl}' as table_source,
         primary_naics_code, parent_co_percent_ownership * 0.01 * {e_col} as fractional_emissions,
         facility_naics_code, parent_company_name
    from {epa_table_prefix}parent_company as PC join {epa_table_prefix}{e_tbl} as ET on PC.ghgrp_facility_id=ET.facility_id and PC.reporting_year=ET.year
""" for e_tbl, e_col in zip(emission_tables,itertools.repeat('total_reported_emissions')) ]

qres = engine.execute(f"drop table if exists {ingest_schema}.{epa_table_prefix}parent_attribution")
print(qres.fetchall())

sql = f"""
create table {ingest_schema}.{epa_table_prefix}parent_attribution as {' union all '.join(emission_selects)}
"""

print(sql)

qres = engine.execute(sql)
print(qres.fetchall())

[(True,)]

create table sandbox.epa_parent_attribution as
select ghgrp_facility_id, reporting_year, lei, 'direct_emitters' as table_source,
         primary_naics_code, parent_co_percent_ownership * 0.01 * total_reported_emissions as fractional_emissions,
         facility_naics_code, parent_company_name
    from epa_parent_company as PC join epa_direct_emitters as ET on PC.ghgrp_facility_id=ET.facility_id and PC.reporting_year=ET.year
 union all
select ghgrp_facility_id, reporting_year, lei, 'onshore_oil_gas_prod' as table_source,
         primary_naics_code, parent_co_percent_ownership * 0.01 * total_reported_emissions as fractional_emissions,
         facility_naics_code, parent_company_name
    from epa_parent_company as PC join epa_onshore_oil_gas_prod as ET on PC.ghgrp_facility_id=ET.facility_id and PC.reporting_year=ET.year
 union all
select ghgrp_facility_id, reporting_year, lei, 'gathering_boosting' as table_source,
         primary_naics_code, parent_co_percent_ownership * 0.01 * total_reported_emissions as fractional_emissions,
         facility_naics_code, parent_company_name
    from epa_parent_company as PC join epa_gathering_boosting as ET on PC.ghgrp_facility_id=ET.facility_id and PC.reporting_year=ET.year
 union all
select ghgrp_facility_id, reporting_year, lei, 'transmission_pipelines' as table_source,
         primary_naics_code, parent_co_percent_ownership * 0.01 * total_reported_emissions as fractional_emissions,
         facility_naics_code, parent_company_name
    from epa_parent_company as PC join epa_transmission_pipelines as ET on PC.ghgrp_facility_id=ET.facility_id and PC.reporting_year=ET.year
 union all
select ghgrp_facility_id, reporting_year, lei, 'ldc_direct_emissions' as table_source,
         primary_naics_code, parent_co_percent_ownership * 0.01 * total_reported_emissions as fractional_emissions,
         facility_naics_code, parent_company_name
    from epa_parent_company as PC join epa_ldc_direct_emissions as ET on PC.ghgrp_facility_id=ET.facility_id and PC.reporting_year=ET.year
 union all
select ghgrp_facility_id, reporting_year, lei, 'sf6_from_elec_equip' as table_source,
         primary_naics_code, parent_co_percent_ownership * 0.01 * total_reported_emissions as fractional_emissions,
         facility_naics_code, parent_company_name
    from epa_parent_company as PC join epa_sf6_from_elec_equip as ET on PC.ghgrp_facility_id=ET.facility_id and PC.reporting_year=ET.year


[(89879,)]

In [30]:
qres = engine.execute(f"describe {ingest_schema}.{epa_table_prefix}parent_attribution")
display(qres.fetchall())

qres = engine.execute(f"""
select ghgrp_facility_id, format('%tY', reporting_year), lei, table_source, format('%,.2f', fractional_emissions) || ' t CO2e' as metric
from {ingest_schema}.{epa_table_prefix}parent_attribution""")
qres.fetchall()[::2000]

[('ghgrp_facility_id', 'bigint', '', ''),
 ('reporting_year', 'timestamp(6)', '', ''),
 ('lei', 'varchar', '', ''),
 ('table_source', 'varchar', '', ''),
 ('primary_naics_code', 'varchar', '', ''),
 ('fractional_emissions', 'double', '', ''),
 ('facility_naics_code', 'varchar', '', ''),
 ('parent_company_name', 'varchar', '', '')]

[(1000355, '2011', 'IIVIHPH28S64K95M2381', 'onshore_oil_gas_prod', '17,728.25 t CO2e'),
 (1000054, '2016', '549300MPY4HDPK8B1G15', 'ldc_direct_emissions', '4,054.90 t CO2e'),
 (1009659, '2014', None, 'onshore_oil_gas_prod', '287.45 t CO2e'),
 (1003832, '2014', 'EFWMP121W54QV9MGOP87', 'direct_emitters', '39,951.50 t CO2e'),
 (1007437, '2014', '549300PDHUGWPWGOT525', 'direct_emitters', '84,515.11 t CO2e'),
 (1004782, '2014', None, 'direct_emitters', '1,823.64 t CO2e'),
 (1005906, '2012', '549300I0BY9NEMK5J380', 'direct_emitters', '40,057.58 t CO2e'),
 (1006432, '2012', 'VA8TZDWPEZYU430RZ444', 'direct_emitters', '410,678.40 t CO2e'),
 (1007605, '2012', '549300Y20JVN3VP2V718', 'direct_emitters', '189,290.25 t CO2e'),
 (1008217, '2014', '7E0MZ0QJ747MW6UMUW55', 'direct_emitters', '26,319.42 t CO2e'),
 (1003737, '2016', '5493001UYHG3UMYXNS32', 'direct_emitters', '91,938.91 t CO2e'),
 (1012256, '2019', '549300D31SB8GGCHLZ52', 'gathering_boosting', '279,371.90 t CO2e'),
 (1005662, '2013', None, 'direct_emitters', '1,135,119.95 t CO2e'),
 (1004317, '2016', '5493008B6JBRUJ90QL97', 'direct_emitters', '88,922.72 t CO2e'),
 (1007047, '2013', None, 'direct_emitters', '25,163.25 t CO2e'),
 (1005740, '2016', '5493005JBO5YSIGK1814', 'direct_emitters', '71,475.61 t CO2e'),
 (1000907, '2016', '549300UBRQ7NNSGQ5N46', 'direct_emitters', '44,843.83 t CO2e'),
 (1008207, '2011', None, 'onshore_oil_gas_prod', '660,875.11 t CO2e'),
 (1007992, '2016', '549300YX8JIID70NFS41', 'direct_emitters', '85,551.90 t CO2e'),
 (1000459, '2016', 'T53BCRVS0HYM3NFECA16', 'direct_emitters', '140,542.56 t CO2e'),
 (1000104, '2012', '20S05OYHG0MQM4VUIC57', 'direct_emitters', '44,846.16 t CO2e'),
 (1001363, '2018', '43R4VPJBXTU2O15HEF41', 'direct_emitters', '1,315,148.48 t CO2e'),
 (1003701, '2017', '254900HROIFWPRGM1V77', 'direct_emitters', 'nu t CO2e'),
 (1001918, '2016', '549300Q8VD2EJNA7O474', 'direct_emitters', '35,373.21 t CO2e'),
 (1001846, '2012', '549300PDHUGWPWGOT525', 'direct_emitters', '15,242.68 t CO2e'),
 (1005574, '2018', '549300SYNDSEG3SY2U05', 'direct_emitters', '21,565.07 t CO2e'),
 (1002609, '2015', None, 'direct_emitters', '36,709.80 t CO2e'),
 (1000491, '2017', '549300BYWGHSXX2TEO67', 'direct_emitters', '597,009.81 t CO2e'),
 (1000763, '2014', '549300TRS60Q45VP7D21', 'direct_emitters', '25,653.40 t CO2e'),
 (1006142, '2020', '549300CC16G1Y2NHCH33', 'direct_emitters', '40,203.00 t CO2e'),
 (1012992, '2017', '254900O08VE0Y4MAPE57', 'direct_emitters', '1,923.38 t CO2e'),
 (1011451, '2020', '353800024KMNOPQRWZ02', 'direct_emitters', '417,168.90 t CO2e'),
 (1003135, '2017', '54930032M67EJRDJ3K16', 'direct_emitters', '75,609.36 t CO2e'),
 (1001982, '2015', '549300WR7IX8XE0TBO16', 'direct_emitters', '44,157.65 t CO2e'),
 (1002538, '2012', None, 'direct_emitters', '73,845.00 t CO2e'),
 (1002787, '2018', 'LZ2C6E0W5W7LQMX5ZI37', 'direct_emitters', '1,814,727.89 t CO2e'),
 (1001869, '2011', None, 'direct_emitters', '58,303.12 t CO2e'),
 (1008767, '2018', '549300S0VORDC9W25871', 'direct_emitters', '32,249.03 t CO2e'),
 (1007546, '2019', None, 'direct_emitters', '72,829.55 t CO2e'),
 (1003535, '2015', 'ILUL7B6Z54MRYCF6H308', 'direct_emitters', '58,364.06 t CO2e'),
 (1000286, '2014', '254900HROIFWPRGM1V77', 'direct_emitters', 'nu t CO2e'),
 (1007792, '2015', None, 'direct_emitters', '1,056,189.93 t CO2e'),
 (1001080, '2019', 'MOM4570XTJ5YYX7JKH83', 'direct_emitters', '13,747.03 t CO2e'),
 (1005671, '2019', '5E2UPK5SW04M13XY7I38', 'direct_emitters', '131,680.96 t CO2e'),
 (1002426, '2013', '2TGYMUGI08PO8X8L6150', 'direct_emitters', '40,908.15 t CO2e')]

How many **_facilities owned by public companies_** match to corporate reports we can see using the SEC's DERA dataset?

See how many `PARENT_COMPANY` records have LEIs we know.  Note that there are about 8400 total facilities, so 4 facilities not covered by LEI for each that is.
There are 3K-4K distinctly named entities, so average entity owns (at least partially) approx 2-3 facilities.  It also means we know the LEIs of approximately half of the parent copmanies.

In [31]:
qres = engine.execute(f"""select count (*), format('%tY', reporting_year)
from (select lei, reporting_year from {epa_table_prefix}parent_company where LEI is not null group by lei, reporting_year)
group by reporting_year order by reporting_year desc""")
qres.fetchall()

[(1542, '2020'),
 (1559, '2019'),
 (1626, '2018'),
 (1562, '2017'),
 (1560, '2016'),
 (1541, '2015'),
 (1712, '2014'),
 (1695, '2013'),
 (1657, '2012'),
 (1578, '2011'),
 (1309, '2010')]

In [32]:
qres = engine.execute(f"describe {dera_table_prefix}sub")
qres.fetchall()

[('adsh', 'varchar', '', ''),
 ('cik', 'integer', '', ''),
 ('name', 'varchar', '', ''),
 ('lei', 'varchar', '', ''),
 ('sic', 'integer', '', ''),
 ('countryba', 'varchar', '', ''),
 ('stprba', 'varchar', '', ''),
 ('cityba', 'varchar', '', ''),
 ('zipba', 'varchar', '', ''),
 ('bas1', 'varchar', '', ''),
 ('bas2', 'varchar', '', ''),
 ('baph', 'varchar', '', ''),
 ('countryma', 'varchar', '', ''),
 ('stprma', 'varchar', '', ''),
 ('cityma', 'varchar', '', ''),
 ('zipma', 'varchar', '', ''),
 ('mas1', 'varchar', '', ''),
 ('mas2', 'varchar', '', ''),
 ('countryinc', 'varchar', '', ''),
 ('stprinc', 'varchar', '', ''),
 ('ein', 'bigint', '', ''),
 ('former', 'varchar', '', ''),
 ('changed', 'varchar', '', ''),
 ('afs', 'varchar', '', ''),
 ('wksi', 'boolean', '', ''),
 ('fye', 'varchar', '', ''),
 ('form', 'varchar', '', ''),
 ('period', 'timestamp(6)', '', ''),
 ('fy', 'timestamp(6)', '', ''),
 ('fp', 'varchar', '', ''),
 ('filed', 'timestamp(6)', '', ''),
 ('accepted', 'timestamp(6)', '', ''),
 ('prevrpt', 'boolean', '', ''),
 ('detail', 'boolean', '', ''),
 ('instance', 'varchar', '', ''),
 ('nciks', 'integer', '', ''),
 ('aciks', 'varchar', '', ''),
 ('srcdir', 'varchar', '', '')]

In [33]:
qres = engine.execute(f"describe {dera_table_prefix}num")
qres.fetchall()

[('adsh', 'varchar', '', ''),
 ('tag', 'varchar', '', ''),
 ('version', 'varchar', '', ''),
 ('coreg', 'varchar', '', ''),
 ('ddate', 'timestamp(6)', '', ''),
 ('qtrs', 'integer', '', ''),
 ('uom', 'varchar', '', ''),
 ('value', 'double', '', ''),
 ('footnote', 'varchar', '', ''),
 ('srcdir', 'varchar', '', '')]

In [34]:
qres = engine.execute(f"""select count (*), format('%tY', reporting_year)
from {ingest_schema}.{epa_table_prefix}parent_attribution, {dera_table_prefix}sub
where (form='10-K' or form='20-F' or form='40-F')
and reporting_year >= DATE('2020-01-01') and filed >= DATE('2020-01-01') and filed < DATE('2021-01-01')
and {ingest_schema}.{epa_table_prefix}parent_attribution.lei={dera_table_prefix}sub.lei and {ingest_schema}.{epa_table_prefix}parent_attribution.lei is not null
group by {ingest_schema}.{epa_table_prefix}parent_attribution.reporting_year
order by {ingest_schema}.{epa_table_prefix}parent_attribution.reporting_year
""")
qres.fetchall()

[(3806, '2020')]

We can tie these companies to ticker symbols...

In [35]:
qres = engine.execute(f"""select * from ticker limit 10""")
qres.fetchall()

[('tsm', 1046179),
 ('orcl', 1341439),
 ('tm', 1094517),
 ('tmo', 97745),
 ('ko', 21344),
 ('pep', 77476),
 ('ups', 1090727),
 ('se', 1703399),
 ('unp', 100885),
 ('hon', 773840)]

How many distinct companies own these facilities (and what are their ticker symbols)?

In [36]:
qres = engine.execute(f"""
with leis as (select DISTINCT({dera_table_prefix}sub.lei), name, if(tname IS NULL, '<private>', tname) as ticker
              from {ingest_schema}.{epa_table_prefix}parent_attribution,{dera_table_prefix}sub,ticker
              where {ingest_schema}.{epa_table_prefix}parent_attribution.lei={dera_table_prefix}sub.lei
              and (form='10-K' or form='20-F' or form='40-F')
              and {dera_table_prefix}sub.cik=ticker.cik
              and period>=DATE('2020-01-01')
              and period<DATE('2021-01-01'))
select count (*), ticker, leis.lei, name, format('%tY', reporting_year)
from {ingest_schema}.{epa_table_prefix}parent_attribution, leis
where reporting_year >= DATE('2020-01-01')
and {ingest_schema}.{epa_table_prefix}parent_attribution.lei=leis.lei
group by leis.ticker, leis.lei, name, reporting_year
order by count(*) desc
-- limit 10
""")
ticker_list = qres.fetchall()
print(len(ticker_list))

433

Note that some comapnies have more than one ticker symbol!

In [37]:
ticker_list[0:50]

[(259, 'ep-pc', '549300WR7IX8XE0TBO16', 'KINDER MORGAN, INC.', '2020'),
 (259, 'kmi', '549300WR7IX8XE0TBO16', 'KINDER MORGAN, INC.', '2020'),
 (228, 'wm', '549300YX8JIID70NFS41', 'WASTE MANAGEMENT INC', '2020'),
 (162, 'rsg', 'NKNQHM6BLECKVOQP7O46', 'REPUBLIC SERVICES, INC.', '2020'),
 (158, 'et-pe', 'MTLVN9N7JE8MIBIJ1H73', 'ENERGY TRANSFER LP', '2020'),
 (158, 'et', 'MTLVN9N7JE8MIBIJ1H73', 'ENERGY TRANSFER LP', '2020'),
 (158, 'et-pd', 'MTLVN9N7JE8MIBIJ1H73', 'ENERGY TRANSFER LP', '2020'),
 (158, 'et-pc', 'MTLVN9N7JE8MIBIJ1H73', 'ENERGY TRANSFER LP', '2020'),
 (114, 'brk-b', '5493000C01ZX7D35SD85', 'BERKSHIRE HATHAWAY INC', '2020'),
 (114, 'brk-a', '5493000C01ZX7D35SD85', 'BERKSHIRE HATHAWAY INC', '2020'),
 (89, 'xom', 'J3WHBG0MTS7O8ZVMDC91', 'EXXON MOBIL CORP', '2020'),
 (87, 'wmb', 'D71FAKCBLFS2O0RBPG08', 'WILLIAMS COMPANIES, INC.', '2020'),
 (65, 'epd', 'K4CDIF4M54DJZ6TB4Q48', 'ENTERPRISE PRODUCTS PARTNERS L.P.', '2020'),
 (61, 'so', '549300FC3G3YU2FBZD92', 'SOUTHERN CO', '2020'),
 (61, 'soje', '549300FC3G3YU2FBZD92', 'SOUTHERN CO', '2020'),
 (61, 'soln', '549300FC3G3YU2FBZD92', 'SOUTHERN CO', '2020'),
 (61, 'sojd', '549300FC3G3YU2FBZD92', 'SOUTHERN CO', '2020'),
 (61, 'sojc', '549300FC3G3YU2FBZD92', 'SOUTHERN CO', '2020'),
 (60, 'cvx', '549300VVH8HHFMWL8536', 'CHEVRON CORP', '2020'),
 (55, 'dcp-pc', 'VQOHU6HCVU6YY1KUKU03', 'DCP MIDSTREAM, LP', '2020'),
 (55, 'dcp-pb', 'VQOHU6HCVU6YY1KUKU03', 'DCP MIDSTREAM, LP', '2020'),
 (55, 'dcp', 'VQOHU6HCVU6YY1KUKU03', 'DCP MIDSTREAM, LP', '2020'),
 (51, 'l', 'R8V1FN4M5ITGZOG7BS19', 'LOEWS CORP', '2020'),
 (49, 'trgp', '5493003QENHHS261UR94', 'TARGA RESOURCES CORP.', '2020'),
 (48, 'd', 'ILUL7B6Z54MRYCF6H308', 'DOMINION ENERGY, INC', '2020'),
 (48, 'dcue', 'ILUL7B6Z54MRYCF6H308', 'DOMINION ENERGY, INC', '2020'),
 (47, 'enbl', '549300TLGDBYE711G509', 'ENABLE MIDSTREAM PARTNERS, LP', '2020'),
 (47, 'duk-pa', 'I1BZKREC126H0VB1BL91', 'DUKE ENERGY CORP', '2020'),
 (47, 'dukb', 'I1BZKREC126H0VB1BL91', 'DUKE ENERGY CORP', '2020'),
 (47, 'duk', 'I1BZKREC126H0VB1BL91', 'DUKE ENERGY CORP', '2020'),
 (40, 'vst', '549300KP43CPCUJOOG15', 'VISTRA CORP.', '2020'),
 (37, 'oxy', 'IM7X0T3ECJW4C1T7ON55', 'OCCIDENTAL PETROLEUM CORP', '2020'),
 (37, 'oxy-wt', 'IM7X0T3ECJW4C1T7ON55', 'OCCIDENTAL PETROLEUM CORP', '2020'),
 (36, 'xel', 'LGJNMI9GH8XIDG5RCM61', 'XCEL ENERGY INC', '2020'),
 (36, 'psx', '5493005JBO5YSIGK1814', 'PHILLIPS 66', '2020'),
 (32, 'mplx', '5493000CZJ19CK4P3G36', 'MPLX LP', '2020'),
 (31, 'aeppz', '1B4S6S7G0TW5EE83BO58', 'AMERICAN ELECTRIC POWER CO INC', '2020'),
 (31, 'nee-pk', 'UMI46YPGBLUE4VGNNT48', 'NEXTERA ENERGY INC', '2020'),
 (31, 'nee-po', 'UMI46YPGBLUE4VGNNT48', 'NEXTERA ENERGY INC', '2020'),
 (31, 'tsn', 'WD6L6041MNRW1JE49D58', 'TYSON FOODS, INC.', '2020'),
 (31, 'aeppl', '1B4S6S7G0TW5EE83BO58', 'AMERICAN ELECTRIC POWER CO INC', '2020'),
 (31, 'nee', 'UMI46YPGBLUE4VGNNT48', 'NEXTERA ENERGY INC', '2020'),
 (31, 'ip', '824LMFJDH41EY779Q875', 'INTERNATIONAL PAPER CO', '2020'),
 (31, 'nee-pn', 'UMI46YPGBLUE4VGNNT48', 'NEXTERA ENERGY INC', '2020'),
 (31, 'aep', '1B4S6S7G0TW5EE83BO58', 'AMERICAN ELECTRIC POWER CO INC', '2020'),
 (31, 'etr', '4XM3TW50JULSLG8BNC79', 'ENTERGY CORP', '2020'),
 (31, 'nee-pp', 'UMI46YPGBLUE4VGNNT48', 'NEXTERA ENERGY INC', '2020'),
 (31, 'nee-pq', 'UMI46YPGBLUE4VGNNT48', 'NEXTERA ENERGY INC', '2020'),
 (30, 'oke', '2T3D6M0JSY48PSZI1Q41', 'ONEOK INC', '2020'),
 (29, 'eog', 'XWTZDRYZPBUHIQBKDB46', 'EOG RESOURCES INC', '2020')]

We can try to add up all the faciltiies for all the tickers, but that leads to counting duplicates for companies that have multiple ticker symbols...(should be 2651, not 5746)

In [38]:
sum([te[0] for te in ticker_list])

5779

Sample data to cross-check LEI, Facility ID and EDGAR submission data

In [39]:
qres = engine.execute(f"""
select DISTINCT({dera_table_prefix}sub.lei), ghgrp_facility_id, adsh
              from {ingest_schema}.{epa_table_prefix}parent_attribution,{dera_table_prefix}sub
              where reporting_year>=DATE('2020-01-01')
              and {ingest_schema}.{epa_table_prefix}parent_attribution.lei={dera_table_prefix}sub.lei
              and (form='10-K' or form='20-F' or form='40-F')
              and period>=DATE('2020-01-01') and period<DATE('2021-01-01')
              order by {dera_table_prefix}sub.lei desc""")
l = qres.fetchall()
print(len(l))
display(l[::100])

3648

[('ZW1LRE7C3H17O2ZN9B45', 1005442, '0001628280-21-003434'),
 ('WD6L6041MNRW1JE49D58', 1010155, '0000100493-20-000132'),
 ('UMI46YPGBLUE4VGNNT48', 1001485, '0000753308-21-000014'),
 ('R8V1FN4M5ITGZOG7BS19', 1004764, '0001140361-21-003906'),
 ('NKNQHM6BLECKVOQP7O46', 1003695, '0001060391-21-000014'),
 ('NKNQHM6BLECKVOQP7O46', 1002649, '0001060391-21-000014'),
 ('MTLVN9N7JE8MIBIJ1H73', 1002842, '0001276187-21-000034'),
 ('MP3J6QPYPGN75NVW2S34', 1002013, '0000055785-21-000016'),
 ('K4CDIF4M54DJZ6TB4Q48', 1012969, '0001061219-21-000009'),
 ('J3WHBG0MTS7O8ZVMDC91', 1007542, '0000034088-21-000012'),
 ('IM7X0T3ECJW4C1T7ON55', 1001711, '0000797468-21-000009'),
 ('I1BZKREC126H0VB1BL91', 1001187, '0001326160-21-000063'),
 ('FCNMH6O7VWU7LHXMK351', 1008503, '0000858470-21-000013'),
 ('CE5OG6JPOZMDSA0LAQ19', 1001025, '0001021635-21-000026'),
 ('824LMFJDH41EY779Q875', 1005653, '0000051434-21-000012'),
 ('5E2UPK5SW04M13XY7I38', 1006868, '0001013871-21-000005'),
 ('549300YX8JIID70NFS41', 1007689, '0001558370-21-001348'),
 ('549300YX8JIID70NFS41', 1003392, '0001558370-21-001348'),
 ('549300WR7IX8XE0TBO16', 1012259, '0001506307-21-000022'),
 ('549300WR7IX8XE0TBO16', 1001855, '0001506307-21-000022'),
 ('549300WR7IX8XE0TBO16', 1002412, '0001506307-21-000022'),
 ('549300VGDEEG8RT7VC89', 1002209, '0001558370-21-002002'),
 ('549300T5W131705EK832', 1007410, '0000844965-21-000002'),
 ('549300M1BOLNXL8DOV14', 1007916, '0001564590-21-005805'),
 ('549300JI1115MG3Q6322', 1012694, '0000851968-21-000019'),
 ('549300IGLYTZUK3PVP70', 1013526, '0000107815-21-000079'),
 ('549300G6KKUMMXM8NH73', 1008167, '0001140361-20-026326'),
 ('549300D3I1QU67GP6403', 1008041, '0000891014-21-000011'),
 ('5493008B6JBRUJ90QL97', 1012328, '0000804269-21-000005'),
 ('54930043XZGB27CTOV49', 1011389, '0001564590-21-004599'),
 ('5493003JOBJGLZSDDQ28', 1006556, '0001108426-21-000010'),
 ('5493000C01ZX7D35SD85', 1006586, '0001564590-21-009611'),
 ('54930000GY1H533OBE23', 1003158, '0001592000-21-000010'),
 ('4XM3TW50JULSLG8BNC79', 1001016, '0000065984-21-000096'),
 ('3BPWMBHR1R9SHUN7J795', 1002199, '0000073088-21-000026'),
 ('2572IBTT8CCZW6AU4141', 1002152, '0000080424-20-000053'),
 ('1B4S6S7G0TW5EE83BO58', 1001587, '0000004904-21-000010')]

Compute intensity in metric tons of CO2e per million dollars

In [40]:
qres = engine.execute(f"""
select PA.lei, sic, floor(sic/100) as sic_2digit, format('%1$tY-%1$tm-%1$td', reporting_year),
       name, sum(fractional_emissions) as tot_co2e,
       uom || ' $M', round(max(value)/1000000,3) as tot_revenue,
       format('%7.2f', 1000000*sum(fractional_emissions)/sum(value)) || ' tCO2e/$M' as intensity
from {ingest_schema}.{epa_table_prefix}parent_attribution as PA join {dera_table_prefix}sub as S on PA.lei=S.lei
     join {dera_table_prefix}num as N on S.adsh=N.adsh
where reporting_year>=DATE('2020-01-01')
and (form='10-K' or form='20-F' or form='40-F')
and period>=DATE('2020-01-01') and period<DATE('2021-01-01')
and ddate>=DATE('2020-01-01') and ddate<DATE('2021-01-01')
and coreg is NULL
and (N.tag='Revenues'
     or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
     or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
     or N.tag='RevenuesNetOfInterestExpense'
     or N.tag='RegulatedAndUnregulatedOperatingRevenue'
     or N.tag='RegulatedOperatingRevenuePipelines')
and N.qtrs=4
group by PA.lei, PA.reporting_year, sic, name, uom
order by intensity desc
-- limit 100
""")
list = qres.fetchall()
print(len(list))
display(list[::5])

337

[('549300O4B5CVWMKUES27', 3829, 38, '2020-01-01', 'MIDWEST ENERGY EMISSIONS CORP.', 29981.588, 'USD $M', 8.158, '3674.91 tCO2e/$M'),
 ('254900GKEQRHOI2SSC19', 1220, 12, '2020-01-01', 'HALLADOR ENERGY CO', 2396625.0, 'USD $M', 245.295, '1639.12 tCO2e/$M'),
 ('5493007QR70AVQSNF619', 1311, 13, '2020-01-01', 'SILVERBOW RESOURCES, INC.', 203574.548, 'USD $M', 177.386, '1147.64 tCO2e/$M'),
 ('529900CG8YAQFZ2JMV97', 2870, 28, '2020-01-01', 'CF INDUSTRIES HOLDINGS, INC.', 19602923.075999998, 'USD $M', 4124.0, ' 950.68 tCO2e/$M'),
 ('5493002H80P81B3HXL31', 4911, 49, '2020-01-01', 'CLECO CORPORATE HOLDINGS LLC', 19183441.194319956, 'USD $M', 1498.146, ' 822.08 tCO2e/$M'),
 ('549300NNLSIMY6Z8OT86', 4931, 49, '2020-01-01', 'ALLETE INC', 4235536.671091213, 'USD $M', 1169.1, ' 724.58 tCO2e/$M'),
 ('549300G6KKUMMXM8NH73', 1311, 13, '2020-01-01', 'BERRY CORP (BRY)', 3339128.3040000014, 'USD $M', 523.833, ' 598.48 tCO2e/$M'),
 ('549300JK3KH8PWM3B226', 1311, 13, '2020-01-01', 'CNX RESOURCES CORP', 6567350.227999999, 'USD $M', 1257.978, ' 522.06 tCO2e/$M'),
 ('254900DQF4U5U9W7AR72', 2860, 28, '2020-01-01', 'AEMETIS, INC', 75134.106, 'USD $M', 165.557, ' 453.83 tCO2e/$M'),
 ('5493003S4AVU6OSXB118', 1311, 13, '2020-01-01', 'PENN VIRGINIA CORP', 110275.084, 'USD $M', 273.268, ' 403.54 tCO2e/$M'),
 ('549300U5ODNGEYWKSW73', 3334, 33, '2020-01-01', 'CENTURY ALUMINUM CO', 1796603.353, 'USD $M', 1605.1, ' 373.10 tCO2e/$M'),
 ('549300VJ5D6MDK138782', 4610, 46, '2020-01-01', 'GENESIS ENERGY LP', 1711840.556, 'USD $M', 1824.655, ' 312.72 tCO2e/$M'),
 ('5493004I7HNFR19BUZ55', 1311, 13, '2020-01-01', 'AMPLIFY ENERGY CORP.', 53084.008, 'USD $M', 202.144, ' 262.60 tCO2e/$M'),
 ('N134NUJDWN8UEFA8B673', 4911, 49, '2020-01-01', 'IDACORP INC', 3166218.6285790196, 'USD $M', 1350.729, ' 240.10 tCO2e/$M'),
 ('529900FA4V2YNIKZ0M71', 1311, 13, '2020-01-01', 'OASIS PETROLEUM INC.', 854640.326, 'USD $M', 963.419, ' 221.77 tCO2e/$M'),
 ('5493001FE7J03YOV2V35', 3674, 36, '2020-01-01', 'ALPHA & OMEGA SEMICONDUCTOR LTD', 94208.954805, 'USD $M', 464.909, ' 202.64 tCO2e/$M'),
 ('549300FJX18IDUFPHD40', 1311, 13, '2020-01-01', 'GULFPORT ENERGY CORP', 324274.656, 'USD $M', 866.542, ' 187.11 tCO2e/$M'),
 ('549300IA9XFBAGNIBW29', 4931, 49, '2020-01-01', 'CMS ENERGY CORP', 29501150.36667249, 'USD $M', 6680.0, ' 163.12 tCO2e/$M'),
 ('549300OGU88P3AW3TO93', 3674, 36, '2020-01-01', 'CREE, INC.', 265765.915441, 'USD $M', 903.9, ' 147.01 tCO2e/$M'),
 ('2NUNNB7D43COUIRE5295', 4991, 49, '2020-01-01', 'AES CORP', 16835161.79267336, 'USD $M', 9660.0, ' 124.48 tCO2e/$M'),
 ('APVBKPOULHUX7YZLKU17', 1311, 13, '2020-01-01', 'ANTERO RESOURCES CORP', 3906157.972000001, 'USD $M', 3491.699, ' 113.45 tCO2e/$M'),
 ('549300T12EZ1F6PWWU29', 3334, 33, '2020-01-01', 'ALCOA CORP', 7127479.518159429, 'USD $M', 9286.0, ' 109.65 tCO2e/$M'),
 ('549300TI77MKE21DLE34', 2860, 28, '2020-01-01', 'ALTO INGREDIENTS, INC.', 507545.12, 'USD $M', 897.023, '  94.30 tCO2e/$M'),
 ('549300C841GHSUPKR373', 4911, 49, '2020-01-01', 'CLEARWAY ENERGY LLC', 904975.3219999999, 'USD $M', 1199.0, '  83.86 tCO2e/$M'),
 ('549300M1BOLNXL8DOV14', 2800, 28, '2020-01-01', 'CHEMOURS CO', 4318971.31893, 'USD $M', 4969.0, '  79.02 tCO2e/$M'),
 ('549300GKK294V7W57P06', 2800, 28, '2020-01-01', 'OLIN CORP', 2198741.022, 'USD $M', 5758.0, '  76.37 tCO2e/$M'),
 ('GOXNEVUM0LL78B1OS344', 2860, 28, '2020-01-01', 'WESTLAKE CHEMICAL CORP', 6293967.750918815, 'USD $M', 7504.0, '  69.90 tCO2e/$M'),
 ('K05C0SER542GQ6VLRO68', 2890, 28, '2020-01-01', 'CABOT CORP', 876653.4299999999, 'USD $M', 2614.0, '  67.07 tCO2e/$M'),
 ('KXMRXXOJ88Q45Y45MG74', 3089, 30, '2020-01-01', 'ARMSTRONG WORLD INDUSTRIES INC', 180372.972, 'USD $M', 936.9, '  64.17 tCO2e/$M'),
 ('5493003AVK173D48DR70', 1040, 10, '2020-01-01', 'COEUR MINING, INC.', 45006.118, 'USD $M', 785.461, '  57.30 tCO2e/$M'),
 ('549300J3U2WK73C9ZK26', 2911, 29, '2020-01-01', 'HOLLYFRONTIER CORP', 10018840.476, 'USD $M', 11183.643, '  55.99 tCO2e/$M'),
 ('ILUL7B6Z54MRYCF6H308', 4911, 49, '2020-01-01', 'DOMINION ENERGY, INC', 107653962.64910068, 'USD $M', 14172.0, '  53.28 tCO2e/$M'),
 ('EJCO258LNNVSKAR2JX59', 1221, 12, '2020-01-01', 'PEABODY ENERGY CORP', 492418.68200000003, 'USD $M', 2881.1, '  42.73 tCO2e/$M'),
 ('529900HOXGPM9F75C193', 1400, 14, '2020-01-01', 'U.S. SILICA HOLDINGS, INC.', 63721.56, 'USD $M', 845.885, '  37.67 tCO2e/$M'),
 ('Q2CCMS6R0AS67HJMBN42', 4512, 45, '2020-01-01', 'DELTA AIR LINES, INC.', 1179682.28, 'USD $M', 17095.0, '  34.50 tCO2e/$M'),
 ('549300I7ROF15MAEVP56', 4911, 49, '2020-01-01', 'EDISON INTERNATIONAL', 1305991.4093429504, 'USD $M', 13578.0, '  32.06 tCO2e/$M'),
 ('529900E4L9R04SB8HB11', 5160, 51, '2020-01-01', 'ASHLAND GLOBAL HOLDINGS INC', 213049.302, 'USD $M', 2326.0, '  30.53 tCO2e/$M'),
 ('MZF5TI8NFVZZNUSKDL39', 4610, 46, '2020-01-01', 'MAGELLAN MIDSTREAM PARTNERS, L.P.', 129621.856, 'USD $M', 2427.802, '  27.72 tCO2e/$M'),
 ('529900IZSJ64GH477714', 5172, 51, '2020-01-01', 'MACQUARIE INFRASTRUCTURE CORP', 21131.19, 'USD $M', 847.0, '  24.95 tCO2e/$M'),
 ('549300G6KKUMMXM8NH73', 3089, 30, '2020-01-01', 'BERRY GLOBAL GROUP, INC.', 1669564.1519999998, 'USD $M', 11709.0, '  23.76 tCO2e/$M'),
 ('SO0H5YEO14Y4PVKQH532', 3674, 36, '2020-01-01', 'MAXIM INTEGRATED PRODUCTS INC', 46288.647396, 'USD $M', 2191.395, '  21.12 tCO2e/$M'),
 ('54930066VBP7DZEGGJ87', 7011, 70, '2020-01-01', 'MGM RESORTS INTERNATIONAL', 100925.82, 'USD $M', 5162.082, '  19.55 tCO2e/$M'),
 ('IM7X0T3ECJW4C1T7ON55', 1311, 13, '2020-01-01', 'OCCIDENTAL PETROLEUM CORP', 23507169.566307433, 'USD $M', 17809.0, '  18.18 tCO2e/$M'),
 ('549300OQS2LO07ZJ7N73', 3312, 33, '2020-01-01', 'COMMERCIAL METALS CO', 828844.0719999999, 'USD $M', 5476.486, '  16.82 tCO2e/$M'),
 ('WDJNR2L6D8RWOEB8T652', 3674, 36, '2020-01-01', 'TEXAS INSTRUMENTS INC', 915417.0355880001, 'USD $M', 14461.0, '  15.83 tCO2e/$M'),
 ('8YQ2GSDWYZXO2EDN3511', 4931, 49, '2020-01-01', 'PG&E CORP', 3317578.1333023002, 'USD $M', 18469.0, '  13.82 tCO2e/$M'),
 ('5493005SMYID1D2OY946', 2030, 20, '2020-01-01', 'LAMB WESTON HOLDINGS, INC.', 433123.81, 'USD $M', 3792.4, '  12.69 tCO2e/$M'),
 ('5493000SJVZVZJKHJF48', 4955, 49, '2020-01-01', 'CLEAN HARBORS INC', 224318.44, 'USD $M', 3144.097, '  11.89 tCO2e/$M'),
 ('3SOUA6IRML7435B56G12', 4931, 49, '2020-01-01', 'EXELON CORP', 7883060.873264005, 'USD $M', 33039.0, '  10.85 tCO2e/$M'),
 ('549300WZ3ORQ2BVKBD96', 3674, 36, '2020-01-01', 'SKYWORKS SOLUTIONS INC', 32848.104591, 'USD $M', 3355.7, '   9.79 tCO2e/$M'),
 ('549300C7E2UAO5BVRR75', 2400, 24, '2020-01-01', 'LOUISIANA-PACIFIC CORP', 22900.434, 'USD $M', 2788.0, '   8.21 tCO2e/$M'),
 ('549300HO5WFZUT5N2T22', 3350, 33, '2020-01-01', 'HOWMET AEROSPACE INC.', 121121.34999999999, 'USD $M', 5259.0, '   7.68 tCO2e/$M'),
 ('724500M9BY5293JDF951', 3674, 36, '2020-01-01', 'NXP SEMICONDUCTORS N.V.', 60162.2241617, 'USD $M', 8612.0, '   6.99 tCO2e/$M'),
 ('54930073LBBH6ZCBE225', 2082, 20, '2020-01-01', 'MOLSON COORS BEVERAGE CO', 802122.58, 'USD $M', 11723.8, '   6.25 tCO2e/$M'),
 ('BZLRL03D3GPGMOGFO832', 2860, 28, '2020-01-01', 'INTERNATIONAL FLAVORS & FRAGRANCES INC', 57249.186, 'USD $M', 5084.239, '   5.63 tCO2e/$M'),
 ('JO5M6676RDJIZ2U8X907', 3290, 32, '2020-01-01', 'OWENS CORNING', 443683.64, 'USD $M', 7055.0, '   4.84 tCO2e/$M'),
 ('GIE4CCPBJDI8SMV1OX95', 2522, 25, '2020-01-01', 'STEELCASE INC', 15925.34, 'USD $M', 3723.7, '   4.28 tCO2e/$M'),
 ('549300VVH8HHFMWL8536', 2911, 29, '2020-01-01', 'CHEVRON CORP', 44684375.299026586, 'USD $M', 94692.0, '   3.94 tCO2e/$M'),
 ('LUZQVYP4VS22CLWDAR65', 3841, 38, '2020-01-01', '3M CO', 2135993.69283, 'USD $M', 32184.0, '   3.02 tCO2e/$M'),
 ('MTLVN9N7JE8MIBIJ1H73', 4922, 49, '2020-01-01', 'ENERGY TRANSFER LP', 15677708.092223627, 'USD $M', 38954.0, '   2.55 tCO2e/$M'),
 ('2TGYMUGI08PO8X8L6150', 2040, 20, '2020-01-01', 'GENERAL MILLS INC', 82544.862, 'USD $M', 17626.6, '   2.34 tCO2e/$M'),
 ('5493007TDQLA2Z7RB387', 2836, 28, '2020-01-01', 'AMGEN INC', 99233.392, 'USD $M', 25424.0, '   1.95 tCO2e/$M'),
 ('549300JD0S5IZJE9LY15', 4900, 49, '2020-01-01', 'BERKSHIRE HATHAWAY ENERGY CO', 1556052.2426054, 'USD $M', 20952.0, '   1.54 tCO2e/$M'),
 ('H1J8DDZKZP6H7RWC0H53', 3663, 36, '2020-01-01', 'QUALCOMM INC', 62487.216, 'USD $M', 23531.0, '   1.33 tCO2e/$M'),
 ('RIMU48P07456QXSO0R61', 3812, 38, '2020-01-01', 'NORTHROP GRUMMAN CORP', 76084.40400000001, 'USD $M', 36799.0, '   1.03 tCO2e/$M'),
 ('PWFTNG3EI0Y73OXWDH08', 3523, 35, '2020-01-01', 'DEERE & CO', 63013.964, 'USD $M', 35540.0, '   0.89 tCO2e/$M'),
 ('3C7474T6CDKPR9K6YT90', 3600, 36, '2020-01-01', 'GENERAL ELECTRIC CO', 576502.1665068932, 'USD $M', 79619.0, '   0.60 tCO2e/$M'),
 ('PBLD0EJDB5FWOLXP3B76', 6021, 60, '2020-01-01', 'WELLS FARGO & COMPANY', 31980.135020395937, 'USD $M', 72340.0, '   0.22 tCO2e/$M')]

# A Deep Dive into outlier data

In [41]:
qreg=engine.execute(f"""select DISTINCT({dera_table_prefix}sub.lei), ghgrp_facility_id, name, adsh
              from {ingest_schema}.{epa_table_prefix}parent_attribution,{dera_table_prefix}sub
              where reporting_year>=DATE('2020-01-01') and {dera_table_prefix}sub.lei='549300O4B5CVWMKUES27'
              and {ingest_schema}.{epa_table_prefix}parent_attribution.lei={dera_table_prefix}sub.lei
              and (form='10-K' or form='20-F' or form='40-F')
              and period>=DATE('2020-01-01') and period<DATE('2021-01-01')""")
qreg.fetchall()

[('549300O4B5CVWMKUES27', 1012016, 'MIDWEST ENERGY EMISSIONS CORP.', '0001477932-21-002039')]

In [42]:
qreg=engine.execute(f"""select reporting_year, format ('%,10.2f', sum(fractional_emissions)) || ' t CO2e' as metric
              from {ingest_schema}.{epa_table_prefix}parent_attribution
              where lei='549300O4B5CVWMKUES27'
              group by reporting_year
""")
l = qreg.fetchall()
l

[('2016-01-01 00:00:00.000', ' 98,413.61 t CO2e'),
 ('2019-01-01 00:00:00.000', ' 69,246.51 t CO2e'),
 ('2012-01-01 00:00:00.000', ' 24,854.15 t CO2e'),
 ('2020-01-01 00:00:00.000', ' 29,981.59 t CO2e'),
 ('2018-01-01 00:00:00.000', '100,039.15 t CO2e'),
 ('2013-01-01 00:00:00.000', ' 24,847.40 t CO2e'),
 ('2014-01-01 00:00:00.000', ' 21,395.30 t CO2e'),
 ('2017-01-01 00:00:00.000', ' 71,698.95 t CO2e'),
 ('2015-01-01 00:00:00.000', ' 46,877.45 t CO2e'),
 ('2011-01-01 00:00:00.000', ' 25,032.10 t CO2e')]

# GHGRP Direct Emitters include Cement and Steel Plans (which we can connect to SFI data)

In [43]:
qres = engine.execute("describe sfi_cement")
display(qres.fetchall())

[('uid', 'varchar', '', ''),
 ('city', 'varchar', '', ''),
 ('state', 'varchar', '', ''),
 ('country', 'varchar', '', ''),
 ('iso3', 'varchar', '', ''),
 ('country_code', 'bigint', '', ''),
 ('region', 'varchar', '', ''),
 ('sub_region', 'varchar', '', ''),
 ('latitude', 'double', '', ''),
 ('longitude', 'double', '', ''),
 ('accuracy', 'varchar', '', ''),
 ('status', 'varchar', '', ''),
 ('plant_type', 'varchar', '', ''),
 ('production_type', 'varchar', '', ''),
 ('capacity', 'double', '', ''),
 ('capacity_units', 'varchar', '', ''),
 ('capacity_source', 'varchar', '', ''),
 ('year', 'timestamp(6)', '', ''),
 ('owner_permid', 'bigint', '', ''),
 ('owner_name', 'varchar', '', ''),
 ('owner_source', 'varchar', '', ''),
 ('parent_permid', 'bigint', '', ''),
 ('parent_name', 'varchar', '', ''),
 ('ownership_stake', 'double', '', ''),
 ('parent_lei', 'varchar', '', ''),
 ('parent_holding_status', 'varchar', '', ''),
 ('parent_ticker', 'varchar', '', ''),
 ('parent_exchange', 'varchar', '', ''),
 ('parent_permid_2', 'bigint', '', ''),
 ('parent_name_2', 'varchar', '', ''),
 ('ownership_stake_2', 'double', '', ''),
 ('parent_lei_2', 'varchar', '', ''),
 ('parent_holding_status_2', 'varchar', '', ''),
 ('parent_ticker_2', 'varchar', '', ''),
 ('parent_exchange_2', 'varchar', '', '')]

In [44]:
qres = engine.execute("select count (*) from sfi_cement")
display(qres.fetchall())
qres = engine.execute("select count (*) from sfi_steel")
display(qres.fetchall())

# There are 105 US-located cement plants listed in the SFI report with parent LEIs
qres = engine.execute("select count (*), iso3 from sfi_cement where iso3='USA' group by iso3")
display(qres.fetchall())

qres = engine.execute(f"""
select owner_name, parent_name, lei, parent_lei, facility_id
from sfi_cement, {epa_table_prefix}direct_emitters, {epa_table_prefix}parent_company
where ghgrp_facility_id=facility_id
and reporting_year={epa_table_prefix}direct_emitters.year
and reporting_year>=DATE('2019-01-01') and reporting_year<DATE('2020-01-01')
and sfi_cement.iso3='USA'
and abs(sfi_cement.latitude-{epa_table_prefix}direct_emitters.latitude)<0.01
and abs(sfi_cement.longitude-{epa_table_prefix}direct_emitters.longitude)<0.01
""")
l = qres.fetchall()
print(f"{len(l)}: facilities/parent relationships matched in USA using lat/lon")

[(3117,)]

[(1598,)]

[(105, 'USA')]

108: facilities/parent relationships matched in USA using lat/lon

In [45]:
l[3::2]

[('Monarch Cement Co', 'Monarch Cement Co', '549300ZMPJCNSENB3O72', None, 1001701),
 ('National Cement Company Inc', 'Vicat SA', '549300F6ONXR0E7EYG96', '9695009YI1863TOVDP79', 1007985),
 ('Salt River Materials Group', 'Salt River Materials Group', None, None, 1003643),
 ('Buzzi Unicem USA Inc', 'Buzzi Unicem SpA', None, '5299003DX5YLKSVJ6K59', 1003002),
 ('Suwannee American Cement Company LLC', 'CRH PLC', None, '549300MIDJNNTH068E74', 1003883),
 ('Suwannee American Cement Company LLC', 'CRH PLC', '549300RN11MJ182CNF63', '549300MIDJNNTH068E74', 1003883),
 ('Roanoke Cement Company LLC', 'Titan Cement International SA', '549300QOTXX1S4ZLAW40', '213800H2CDP9I374WH83', 1000633),
 ('St Marys Cement Inc Canada', 'Votorantim SA', '2549001WR6XSXNOD1F93', '5493009RIHSE12DQ0J28', 1004899),
 ('Texas Industries Inc', 'Martin Marietta Materials Inc', '5299005MZ4WZECVATV08', '5299005MZ4WZECVATV08', 1007621),
 ('Grupo Cementos de Chihuahua SAB de CV', 'Grupo Cementos de Chihuahua SAB de CV', None, '254900WY9XL8033CKX68', 1006185),
 ('Titan Florida LLC', 'Titan Cement International SA', '549300QOTXX1S4ZLAW40', '213800H2CDP9I374WH83', 1007052),
 ('Argos USA Corp', 'Grupo Argos SA', '2549000NKLSHNQQBTJ24', '254900HANAO95XIAE681', 1006659),
 ('Armstrong Cement & Supply Corporation', 'Snyder Associated Co Inc', None, None, 1006785),
 ('Lafarge North America Inc', 'LafargeHolcim Ltd', '5493004I6HQW11F10C18', '529900EHPFPYHV6IQO98', 1000024),
 ('Ash Grove Cement Co', 'CRH PLC', None, '549300MIDJNNTH068E74', 1002665),
 ('Ash Grove Cement Co', 'CRH PLC', '549300RN11MJ182CNF63', '549300MIDJNNTH068E74', 1002527),
 ('Ash Grove Cement Co', 'CRH PLC', '549300RN11MJ182CNF63', '549300MIDJNNTH068E74', 1002531),
 ('Ash Grove Cement Co', 'CRH PLC', None, '549300MIDJNNTH068E74', 1007606),
 ('Argos USA Corp', 'Grupo Argos SA', '2549000NKLSHNQQBTJ24', '254900HANAO95XIAE681', 1005458),
 ('Lafarge North America Inc', 'LafargeHolcim Ltd', '5493005PE286U4OJ2S64', '529900EHPFPYHV6IQO98', 1006572),
 ('Capitol Aggregates Inc', 'Capitol Aggregates Inc', '549300ROAT6R8JSEVV96', '549300W2BSPN5YV5JS04', 1004270),
 ('Cemex Inc', 'CEMEX SAB de CV', '549300JHGUF0VVA38719', '549300RIG2CXWN6IV731', 1004758),
 ('Cemex Inc', 'CEMEX SAB de CV', '549300JHGUF0VVA38719', '549300RIG2CXWN6IV731', 1007877),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', '40XIFLS8XDQGGHGPGC04', 'LZ2C6E0W5W7LQMX5ZI37', 1000362),
 ('St Marys Cement Inc Canada', 'Votorantim SA', '549300V0FRLSRFEZFU13', '5493009RIHSE12DQ0J28', 1006263),
 ('CalPortland Co', 'Taiheiyo Cement Corp', None, None, 1007927),
 ('Central Plains Cement Company', 'Eagle Cement Corp', '529900KRXRGXL61SG039', None, 1007216),
 ('Central Plains Cement Company', 'Eagle Cement Corp', 'NKNQHM6BLECKVOQP7O46', None, 1007631),
 ('Lehigh White Cement Co', 'Cementir Holding NV', None, '8156008B101B97A43B02', 1002554),
 ('Dragon Products Co', 'Elementia SAB de CV', None, '549300BH08XQJ1ITLQ77', 1003594),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', 'K5K33XN0PQAU1XF7NN66', 'LZ2C6E0W5W7LQMX5ZI37', 1001226),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', 'LZ2C6E0W5W7LQMX5ZI37', 'LZ2C6E0W5W7LQMX5ZI37', 1002517),
 ('Illinois Cement Company LLC', 'Eagle Cement Corp', '529900KRXRGXL61SG039', None, 1006738),
 ('Lafarge North America Inc', 'LafargeHolcim Ltd', '5299007BR966QQRQTB48', '529900EHPFPYHV6IQO98', 1003008),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', 'LZ2C6E0W5W7LQMX5ZI37', 'LZ2C6E0W5W7LQMX5ZI37', 1003891),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', 'LZ2C6E0W5W7LQMX5ZI37', 'LZ2C6E0W5W7LQMX5ZI37', 1002431),
 ('Lafarge North America Inc', 'LafargeHolcim Ltd', None, '529900EHPFPYHV6IQO98', 1005874),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', 'LZ2C6E0W5W7LQMX5ZI37', 'LZ2C6E0W5W7LQMX5ZI37', 1004612),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', 'LZ2C6E0W5W7LQMX5ZI37', 'LZ2C6E0W5W7LQMX5ZI37', 1000290),
 ('Grupo Cementos de Chihuahua SAB de CV', 'Grupo Cementos de Chihuahua SAB de CV', None, '254900WY9XL8033CKX68', 1006363),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', 'LZ2C6E0W5W7LQMX5ZI37', 'LZ2C6E0W5W7LQMX5ZI37', 1005742),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', 'LZ2C6E0W5W7LQMX5ZI37', 'LZ2C6E0W5W7LQMX5ZI37', 1006234),
 ('Lafarge North America Inc', 'LafargeHolcim Ltd', '5299007BR966QQRQTB48', '529900EHPFPYHV6IQO98', 1004810),
 ('Cemex Inc', 'CEMEX SAB de CV', None, '549300RIG2CXWN6IV731', 1007997),
 ('Lehigh Hanson Inc', 'HeidelbergCement AG', 'LZ2C6E0W5W7LQMX5ZI37', 'LZ2C6E0W5W7LQMX5ZI37', 1006136),
 ('Lafarge North America Inc', 'LafargeHolcim Ltd', '5299007BR966QQRQTB48', '529900EHPFPYHV6IQO98', 1006815),
 ('Lafarge North America Inc', 'LafargeHolcim Ltd', '5299007BR966QQRQTB48', '529900EHPFPYHV6IQO98', 1004131),
 ('Grupo Cementos de Chihuahua SAB de CV', 'Grupo Cementos de Chihuahua SAB de CV', None, '254900WY9XL8033CKX68', 1004539),
 ('Lafarge North America Inc', 'LafargeHolcim Ltd', '5299007BR966QQRQTB48', '529900EHPFPYHV6IQO98', 1005360),
 ('Lafarge North America Inc', 'LafargeHolcim Ltd', '5299007BR966QQRQTB48', '529900EHPFPYHV6IQO98', 1002055),
 ('Giant Cement Co', 'Elementia SAB de CV', None, '549300BH08XQJ1ITLQ77', 1003770),
 ('Lehigh White Cement Co', 'Cementir Holding NV', None, '8156008B101B97A43B02', 1000198),
 ('Argos USA Corp', 'Grupo Argos SA', '549300FC3G3YU2FBZD92', '254900HANAO95XIAE681', 1001508)]