## library dependencies

The following examples assume that python libraries `trino` and `urllib3` are installed.
If they are not already installed on your notebook image, you can pip install them like so:

In [ ]:
#pip install trino urllib3

In [1]:
import trino
import urllib3
import os

urllib3.disable_warnings()

## Trino DB connection

The following cell establishes a trino connection variable `conn` and a cursor variable `cur`.
The cursor `cur` is used to execute SQL queries.

In [17]:
# In a live environment, it is best practice to fill these from environment variables
# that have been injected with proper values
username = 'hukhan'
passwd = 'osctrino987'

conn = trino.dbapi.connect(
    auth=trino.auth.BasicAuthentication(username, passwd),
# These may be used to set connection session defaults but are not necessary
#    catalog='hive',
#    schema='team1',
    host='trino-secure-odh-trino.apps.odh-cl1.apps.os-climate.org',
    port=443,
    http_scheme='https',
    verify=False,
)
cur = conn.cursor()

## schemas

You can list available schemas for the user you are connected as.
This user has access to a schema `team1`

Note: Trino has a quirk such that it will show any (visible) schemas under all available `catalog` entries.
In other words, it will return the same list of visible schema regardless of which catalog is specified (below catalog `hive`)

In [18]:
cur.execute('show schemas in hive')
rows = cur.fetchall()
rows

[['team1']]

## Listing tables

You can list the tables visible to you in a schema:

In [21]:
cur.execute('show tables in hive.team1')
rows = cur.fetchall()
rows

[['cat']]

## SQL queries on tables

You can execute SQL queries on tables visible to you

In [22]:
cur.execute('select * from hive.team1.cat')
rows = cur.fetchall()
rows

[['word', 'length'],
 ['the', '3'],
 ['cat', '3'],
 ['in', '2'],
 ['the', '3'],
 ['hat', '3']]